<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-2">admit portal</h4>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-md-0">welcome</p>
      <div class="dash-content">
        <div class="dashboard-home py-5">
          <%= image_tag 'the-net.png', alt: "the net logo" %>
          <hr class="my-4">
          <h4 class="neue-machina ls-sm lighter">admin</h4>
        </div>
      </div>
    </div>
  </div>
</div>
