<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Pending Approval</h2>
      <hr>
      <%= link_to "NEW TUTORIAL", new_tutorial_path, class: 'primary-button products-admin-primary m10' %>
      <div class="row" style="margin: 30px 0;">
        <% if @tutorials.count == 0 %>
          <p class="medium-margin text-center boldest kaftan grey" style="width: 100%;">There are no pending tutorials</p>
        <% end %>
        <% @tutorials.each do |tutorial| %>
          <%= render 'shared/upload_cards', item: tutorial %>
        <% end %>
      </div>
    </div>
  </div>
</div>
