// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap');
// Importing didot font face

@font-face {
  font-family: "Didot";
  src: asset-url('Didot.woff'), format('truetype');
}

// Importing archivo black font

// @font-face {
//   font-family: "Archivo Black";
//   src: asset-url('Archivo-Black.ttf'), format('truetype');
// }

// Define fonts for body and headers
$body-font: 'Didot' serif;
$headers-font: 'Muli', sans-serif;
$menu-font: 'Muli', sans-serif;
$title-font: 'Muli', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.didot {
  font-family: 'Didot', serif !important;
}
