@font-face {
  font-family: "Kaftan";
  src: font-url('kaftan/kaftan-serif.woff') format('woff'),
       font-url('kaftan/kaftan-serif.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: "Neue Machina";
  src: font-url('neue_machina/neue_machina_ultralight.eot');
  src: font-url('neue_machina/neue_machina_ultralight.eot?#iefix') format('embedded-opentype'),
       font-url('neue_machina/neue_machina_ultralight.woff') format('woff'),
       font-url('neue_machina/neue_machina_ultralight.otf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "Neue Machina";
  src: font-url('neue_machina/neue_machina_light.eot');
  src: font-url('neue_machina/neue_machina_light.eot?#iefix') format('embedded-opentype'),
       font-url('neue_machina/neue_machina_light.woff') format('woff'),
       font-url('neue_machina/neue_machina_light.otf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "Neue Machina";
  src: font-url('neue_machina/neue_machina_regular.eot');
  src: font-url('neue_machina/neue_machina_regular.eot?#iefix') format('embedded-opentype'),
       font-url('neue_machina/neue_machina_regular.woff') format('woff'),
       font-url('neue_machina/neue_machina_regular.otf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Neue Machina";
  src: font-url('neue_machina/neue_machina_bold.eot');
  src: font-url('neue_machina/neue_machina_bold.eot?#iefix') format('embedded-opentype'),
       font-url('neue_machina/neue_machina_bold.woff') format('woff'),
       font-url('neue_machina/neue_machina_bold.otf') format('truetype');
  font-weight: bold;
}

$body-font: 'Neue Machina', sans-serif;
$headers-font: 'Kaftan', serif;
$menu-font: 'Kaftan', serif;
$title-font: 'Kaftan', serif;

.neue-machina {
  font-family: 'Neue Machina', sans-serif !important;
}

.kaftan {
  font-family: 'Kaftan', serif !important;

}
