<div class="row m-0 w-100">
  <% insider_articles.each_with_index do |article, index| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card-image-results mb-5">
        <div class="card">
          <div class="card_image">
            <%= link_to insider_article_path(article) do %>
              <%= image_tag url_for(article.cover_photo.variant(resize: '300x300')), alt: "insider article photo" %>
            <% end %>
          </div>
        </div>
        <div class="card-info">
          <p class="mb-2 truncate-text lighter ls-xs small-text grey-font"><%= article.category.downcase %></p>
          <p class="mb-3 truncate-text lighter ls-xs"><%= article.title %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


