<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-2">admin portal</h4>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-md-0">content / insider articles</p>
      <div class="dash-content p-3">
        <div class="w-100">
          <div class="row m-0">
            <div class="col-12 d-flex justify-content-end">
              <%= link_to "add article", new_admin_insider_article_path, class: 'primary-button personal-details-button small-text my-0 mt-0 mb-3' %>
            </div>
            <% if @insider_articles.count == 0 %>
              <p class="medium-margin text-center boldest neue-machina" style="width: 100%;">There are no insider articles yet</p>
            <% end %>
            <%= render 'insider_articles', insider_articles: @insider_articles %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
