<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Insider Articles</h2>
      <hr>
      <% if @insider_articles.count == 0 %>
        <p class="medium-margin text-center boldest neue-machina" style="width: 100%;">There are no insider articles yet</p>
      <% end %>
      <%= render 'insider_articles', insider_articles: @insider_articles %>
    </div>
  </div>
</div>
