.tutorial-show-title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  a {
    color: black;
    font-weight: 900;
    border-bottom: 1px solid black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  @include for-small-devices-down {
    flex-direction: column-reverse;
  }
}

.web-tutorials-link {
  font-family: 'Muli', sans-serif;
  @include for-small-devices-down {
    display: none;
  }
}

.previous-next-tutorial {
  display: flex;
  font-family: 'Muli', sans-serif;
  @include for-small-devices-down {
    width: 100%;
    justify-content: space-between;
  }
}

.previous-next-seperator {
  @include for-small-devices-down {
    display: none;
  }
}

.mobile-tutorials-link {
  color: black;
  font-weight: 900;
  border-bottom: 1px solid black;
  margin-left: 16px;
  font-family: 'Muli', sans-serif;
  &:hover {
    color: black;
    text-decoration: none;
  }
  @include for-medium-devices-up {
    display: none;
  }
}

.featured-products-header, .similar-tutorials-header {
  @include for-small-devices-down {
    justify-content: center !important;
  }
}

.tutorial-spacer {
  @include for-small-devices-down {
    display: none;
  }
}

.tutorial-show-video-banner {
  max-width: 900px;
  max-height: 60vh;
  display: flex;
  margin: 0 auto;
  position: relative;
  &:hover {
    .video-home-play-button {
      transform: scale(1.5);
    }
  }
}

.featured-products-wrapper {
  padding: 15px;
  @include for-phone-only {
    padding: 15px 0;
  }
}

.featured-products-header {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
    font-weight: 900;
    border-bottom: 1px solid black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.similar-tutorials-header {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
    font-weight: 900;
    border-bottom: 1px solid black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.similar-tutorials-wrapper {
  background: #F5F5F5;
  padding-bottom: 30px;
}

.video-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tutorial-show-admin-options {
  width: 50%;
  .personal-details-button {
    width: max-content;
  }
  label {
    font-weight: 900;
    font-size: 14px;
  }
  @include for-small-devices-down {
    width: 80%;
  }
  @include for-phone-only {
    width: 95%;
  }
}

.tutorials-index-wrapper {
  .homepage-video-card {
    @include for-small-devices-down {
      width: 100%;
    }
  }
}

.card-image-results {
  margin-bottom: 10px;
}
