<div class="admin-wrapper minimum-height">
  <div class="admin-container" style="max-width: 1200px">
    <h2 class="insider-info-title mlb-title text-center">Update a home banner</h2>
    <%= link_to "back", admin_home_banners_path, class: "kaftan bold ml-4 black"  %>
    <%= render "form" %>
  </div>
</div>

