<div class="admin-wrapper minimum-height">
  <div class="admin-container"  style="max-width: 1200px">
    <h2 class="insider-info-title mlb-title text-center">New Homepage banner</h2>
    <%= link_to "back", admin_home_banners_path, class: "muli bold ml-4 black"  %>
    <%= render "form" %>
  </div>
</div>

