.contact-form-input {
    border: 1px solid #F0F0F0;
    background: #FCFCFC;
}

.contact-form-input::placeholder {
  color: #BCBCBC;
  font-size: 14px;
}

.contact-us-container {
  width: 500px;
  margin: 50px auto 0 auto;
  @include for-phone-only {
    width: 100%;
    padding: 10px;
    margin: 20px auto 0 auto;
  }
}

.contact-us-button {
  display: block;
  margin: auto;
}
