.freebies-title-banner {
  background: $light-gray;
  height: calc(100vw * 0.3);
  max-height: 500px;
  @include absCenterColumn;
  h1 {
    font-weight: 900;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
  @include for-large-devices-down {
    height: calc(100vw * 0.4);
  }
  @include for-small-devices-down {
    height: calc(100vw * 0.5);
  }
  @include for-phone-only {
    min-height: 320px;
  }
}

.freebies-first-time-banner {
  height: calc(100vw * 0.3);
  max-height: 500px;
  background-size: cover;
  background-position: center;
  @include absCenterColumn;
  h1 {
    font-weight: 900;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    @include for-medium-devices-down {
      margin-bottom: 20px;
    }
  }
  h5 {
    font-weight: 600;
    line-height: 20px;
  }
  @include for-large-devices-down {
    height: calc(100vw * 0.4);
  }
  @include for-small-devices-down {
    height: calc(100vw * 0.5);
  }
  @include for-phone-only {
    min-height: 320px;
  }
}

.freebies-newsletter-banner {
  height: calc(100vw * 0.3);
  max-height: 500px;
  background-size: cover;
  @include absCenterColumn;
  h1 {
    font-weight: 900;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    @include for-medium-devices-down {
      margin-bottom: 20px;
    }
  }
  h5 {
    font-weight: 600;
    width: 33%;
    text-align: center;
    line-height: 30px;
    @include for-medium-devices-down {
      width: 50%;
    }
    @include for-phone-only {
      width: 90%;
    }
  }
  @include for-large-devices-down {
    height: calc(100vw * 0.4);
    background-position: center;
  }
  @include for-small-devices-down {
    height: calc(100vw * 0.5);
  }
  @include for-phone-only {
    min-height: 320px;
  }
}
