.influencers-wrapper {
  background: $light-gray;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.influencers-container {
  max-width: 882px;
  margin: 0 auto;
}

.each-influencer-avatar-card {
  width: 368px;
  margin: 68px auto;
  h6 {
    font-weight: 900;
    margin: 5px 0;
  }
  @include for-phone-only {
    width: 100%;
    padding: 24px;
  }
}
.wrap {
  flex-wrap: wrap;
}
.influencer-large-avatar {
  width: 368px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
  @include for-phone-only {
    width: 100%;
  }
}

.influencer-card-link {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
    .influencer-large-avatar {
      transform: scale(1.03);
    }
  }
}

.influencer-instagram {
  @include for-phone-only {
    font-size: 10px;
    word-break: break-word;
  }
}

.influencer-content-underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 40;
}

.influencer-content-layer {
  position: relative;
  z-index: 50;
}

.influencer-modal-close {
  z-index: 50;
}
