  .influencers-wrapper {
  padding: 20px 0;
  background: $light-gray;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.influencers-container {
  width: 80%;
  margin-top: 30px;
}

.each-influencer-avatar-card {
  h6 {
    font-weight: 900;
    margin: 5px 0;
  }
  margin: 20px 0;
}

.influencer-large-avatar {
  width: 195px;
  height: 195px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
  @include for-large-devices-down {
    width: 162px;
    height: 162px;
  }
  @include for-small-devices-down {
    width: 115px;
    height: 115px;
  }
  @include for-xsmall-phone-only {
    width: 101px;
    height: 101px;
  }
}

.influencer-card-link {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
    .influencer-large-avatar {
      transform: scale(1.03);
    }
  }
}

.influencer-instagram {
  @include for-phone-only {
    font-size: 10px;
    word-break: break-word;
  }
}
