
.qna-wrapper {
  margin: 50px 0;
  h3, h4 {
    font-weight: 900;
  }
  h3 {
    margin-bottom: 50px;
  }
}

.qna-content {
  p {
    font-size: 16px;
    @include for-small-devices-down {
      font-size: 14px;
    }
  }
  img {
    @include for-phone-only {
      margin-bottom: 24px;
    }
  }
}

.qna-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  @include for-medium-devices-down {
    height: 320px;
  }
  @include for-phone-only {
    height: unset;
  }
}

.question-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include for-phone-only {
    flex-direction: column;
  }
}

.question-image {
  padding: 10px;
  flex: 1;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.question-text {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-item: flex-start;
  h4, p, .qa-link {
    width: 80%;
    @include for-medium-devices-down {
      width: 100%;
    }
  }

}

.question-middle {
  @include for-phone-only {
    flex-direction: column-reverse;
  }
}

.new-question-answers-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  .form-group {
    display: flex;
    margin: 0;
  }
  .form-control {
    border: 1px solid #F0F0F0;
    background: #FCFCFC
  }
}

.questions-answers-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  p {
    width: 130px;
  }
  input, textarea {
    margin-left: 4px;
    width: 500px;
  }
}

.insider-articles-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: 'Mukta Mahee', sans-serif;
  p {
    text-align: right;
    width: 140px;
    @include for-small-devices-down {
      width: auto;
      text-align: left;
      margin-left: 4px;
    }
  }
  input, textarea {
    margin-left: 4px;
    width: 600px;
    @include for-medium-devices-down {
      max-width: 550px;
    }
    @include for-small-devices-down {
      max-width: 100%;
      width: 100%;
    }
  }
  trix-toolbar {
    margin: 10px 0 0 4px;
    .button_row {
      @include for-small-devices-down {
        flex-wrap: wrap !important;
      }
    }
  }
  @include for-small-devices-down {
    display: block;
  }
}

.insider-form {
  trix-editor {
    border: 1px solid #F0F0F0;
    background: #FCFCFC;
    margin: 0 0 0 4px;
    max-width: 600px;
    @include for-medium-devices-down {
      max-width: 550px;
    }
    @include for-small-devices-down {
      max-width: 100%;
    }
  }
}
