<div class="admin-wrapper minimum-height">
  <div class="admin-container">
    <h2 class="insider-info-title mlb-title text-center">Change Banner</h2>
    <hr>
    <div class="admin-form-container">
      <%= simple_form_for @banner, url: admin_change_banner_path, method: :post do |f| %>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Banner Photo</p>
          <%= f.input :photo, label: false %>
        </div>
        <%= f.submit 'CHANGE BANNER', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>
