.community-wrapper {
  max-width: 992px;
}

.insider-article-banner-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    letter-spacing: 1px;
    text-shadow: 0 0 1px #6b6b6b;
  }
  h4 {
    width: max-content;
  }
}

.articles-padding-mobile {
  @include for-phone-only {
    padding: 0;
  }
}

.insider-article-banner {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  @include for-medium-devices-down {
    width: 50%;
  }
  @include for-phone-only {
    width: 100%;
    padding-right: 5px;
  }
}

.article-white {
  color: #FFF !important;
  border-color: #FFF !important;
}

.article-black {
  color: #000 !important;
  border-color: #000 !important;
}

// INSIDER NEW

.new_insider_article {
  @include for-small-devices-down {
    padding: 10px;
    width: 100%;
  }
}

// INSIDER EDIT

.edit_insider_article {
  @include for-small-devices-down {
    padding: 10px;
    width: 100%;
  }
}

// ADMIN INSIDER NEW

#insiderArticle {
  .button_row {
    flex-wrap: wrap !important;
  }
}

