<div class="makeup-show-banner"  style="background-image: url('<%= @user.cover_photo.attached? ? (rails_blob_path @user.cover_photo) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
  <div class="influencer-show-banner-text-container">
    <div class="influencer-show-banner-text">
      <h4><%= @user.instagram %></h4>
      <h1 class="muli boldest make-up-picks">Makeup Picks</h1>
    </div>
  </div>
</div>
<div class="influencer-makeup-container">
  <%= render 'shared/card_results', products: @products, form_url: make_up_user_path(@user), sort_method: @sort_method %>
</div>
<% if policy(ShowroomProduct).create? %>
  <div class="showroom-product-form">
    <%= render 'shared/showroom_product_form' %>
  </div>
<% end %>
