<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">My Products</h2>
      <hr>
      <div class="my-product-cards-container">
        <%= render 'shared/my_products_cards', wishlist_product: @wishlist_product %>
      </div>
    </div>
  </div>
</div>
