<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Preference Center</h2>
      <hr>
      <div class="preference-newsletter">
        <h5 class="text-center">Control how you want to hear from us and how we use your data</h5>
        <p class="boldest">Email: Newsletter</p>
        <p>We will send you beauty news, exclusive promotions and may ask you to review products and services after you place an order.</p>
      </div>
        <hr>
        <div class="preference-terms">
          <p class="boldest">View Terms & Conditions</p>
          <p>You agreed to our Terms & Privacy Policy on 24/04/2019</p>
        </div>
        <hr>
        <p style="padding: 20px; font-style: italic;">Please note that we will continue to email you in relation to any orders you place such as order and delivery updates.</p>
    </div>
  </div>
</div>
