<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Share Loop Beauty</h2>
      <hr>
      <div class="refer-friend-container">
        <div class="refer-friend-section">
          <p class="boldest grey-font text-center">Refer a friend and get 15% off when they shop!</p>
          <p class="boldest grey-font text-center">your friend will get 15% off too.</p>
        </div>
        <div class="referral-code-section">
          <p class="boldest no-margin">Share your personalised referral code: <span>ariel752</span></p>
        </div>
        <div class="refer-share-section">
          <h6 class="boldest"><i class="far fa-comment-dots"></i> Share Loop Beauty by Text</h6>
          <h6 class="boldest"><i class="fab fa-whatsapp"></i> Share Loop Beauty by Whatsapp</h6>
          <h6 class="boldest"><i class="far fa-envelope"></i> Share Loop Beauty by Email</h6>
        </div>
      </div>
      <p class="boldest grey-font" style="padding-left: 15px;">*Offer valid for up to 5 referrals per person</p>
    </div>
  </div>
</div>
