<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <h4 class="mb-5">my profile</h4>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-2">wishlist</p>
      <div class="dash-content">
        <div class="wishlist-product-cards-container">
          <%= render 'shared/wishlist_product_card', wishlist_products: @wishlist_products %>
        </div>
      </div>
    </div>
  </div>
</div>


 <!--    <div class="dash-content-container">
      <p class="ls-xs mb-2">refer a friend</p>
      <div class="dash-content">
        <div class="refer-friend-container h-100 p-5">
          <div class="">
            <p class="text-center lighter ls-xs">Refer a friend and get 15% off when they shop!</p>
            <p class="text-center lighter ls-xs m-0">your friend will get 15% off too.</p>
          </div>
          <div class="referral-code-section">
            <p class="lighter mb-4 ls-xs">Share your personalised referral code:</p>
            <p class="ls-xs m-0"><strong><%= current_user.referral_code %></strong></p>
          </div>
          <p class="lighter ls-xs">*Offer valid for up to 5 referrals per person</p>
        </div>
      </div>
    </div>
 -->







<!-- <script>
  itemAdded = document.querySelector('.item-added');
  addToBag = document.querySelectorAll('.add-to-bag-grey');

  addToBag.forEach(function(button) {
    button.addEventListener('click', function() {
      itemAdded.classList.add('item-added-show');
      setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
    });
  });
</script> -->
