.checkout-item-container {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 10px 0;
}

.checkout-item {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.checkout-total-container {
  padding: 15px 30px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.basket-price {
  display: flex;
  justify-content: space-between;
}

.checkout-edit-bag {
  margin: auto;
  display: block;
  &:hover {
    color: inherit;
  }
}

.checkout-process {
  display: flex;
  justify-content: space-evenly;
}

.checkout-process-steps {
  padding: 0 10px;
  color: #BABABA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.checkout-number {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #BABABA;
  color: #FFF;
  p {
  }
  @include absCenter;
  @include for-phone-only {
    height: 30px;
    width: 30px;
  }
}

.checkout-active {
  .checkout-number {
    background: #000 !important;
  }
  p {
    color: #000 !important;
  }
}

.checkout-addresses-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  input {
    margin-bottom: 5px;
  }
}

.checkout-address {
}

.stripe-button-el {
  border: none !important;
  height: 50px !important;
  background-color: black !important;
  background-image: none !important;
  color: $light-gray !important;
  border-radius: 0 !important;
  padding: 6px 50px !important;
  letter-spacing: 2px !important;
  font-weight: bold !important;
  @include absCenter;
  margin: 20px 0 20px auto !important;
  &:hover {
    text-decoration: none !important;
    color: $light-gray !important;
  }
}

.stripe-button-el span {
  background-image: none !important;
  background-color: black !important;
  box-shadow: none !important;
}

.order-summary-container {
  width: 65%;
  margin: 0 auto;
  padding: 40px 0;
  @include for-medium-devices-down {
    width: 95%;
    padding: 10px 0;
  }
}

.order-summary, .checkout-mobile {
  margin: auto;
}

.checkout-mobile {
  label {
    font-size: 14px;
    font-weight: 900;
  }
  input {
    width: 190px;
  }
}

.checkout-delivery-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.2);
  background: #FCFCFC;
  padding: 15px 30px;
  cursor: pointer;
}

.no-border-bottom {
  border-bottom: none !important;
}

.checkout-checkbox {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 2px;
  .checkout-checkbox-inner {
    background: #000;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.order-summary-mobile {
  @include for-medium-devices-up {
    display: none;
  }
}
