<div class="checkout-process">
  <div class="checkout-process-steps">
    <div class="checkout-number tiny-margin-bottom">
      <h4 class="no-margin boldest">1</h4>
    </div>
    <p class="boldest no-margin muli">Sign in</p>
  </div>
  <div class="checkout-process-steps <%= (params[:controller] == 'orders' && params[:action] == 'new') ? 'checkout-active' : '' %>">
    <div class="checkout-number tiny-margin-bottom">
      <h4 class="no-margin boldest">2</h4>
    </div>
    <p class="boldest no-margin muli">Summary / Payment</p>
  </div>
  <div class="checkout-process-steps <%= (params[:controller] == 'orders' && params[:action] == 'order_success') ? 'checkout-active' : '' %>">
    <div class="checkout-number tiny-margin-bottom">
      <h4 class="no-margin boldest">3</h4>
    </div>
    <p class="boldest no-margin muli">Order Complete</p>
  </div>
</div>
