<% case rating %>
<% when 0 %>
  <div class="rating-container">
    <i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i>
  </div>
<% when 1 %>
  <div class="rating-container">
    <i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i>
  </div>
<% when 2 %>
  <div class="rating-container">
    <i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i>
  </div>
<% when 3 %>
  <div class="rating-container">
    <i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: #D5D5D5"></i><i class="fas fa-star" style="color: #D5D5D5"></i>
  </div>
<% when 4 %>
  <div class="rating-container">
    <i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: #D5D5D5"></i>
  </div>
<% when 5 %>
  <div class="rating-container">
    <i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i><i class="fas fa-star" style="color: black"></i>
  </div>
<% end %>
