<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-2">admit portal</h4>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-md-0">content / pending lookbooks</p>
      <div class="dash-content p-3">
        <div class="w-100">
          <div class="row m-0">
            <div class="col-12 d-flex justify-content-end">
              <%= link_to "add lookbook", new_lookbook_path, class: 'primary-button personal-details-button small-text my-0 mt-0 mb-3' %>
            </div>
            <% if @lookbooks.count == 0 %>
              <p class="text-center lighter ls-xs" style="width: 100%;">There are no pending lookbooks</p>
            <% end %>
            <% @lookbooks.each do |lookbook| %>
              <%= render 'shared/upload_cards', item: lookbook %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
