<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title text-center">Pending Approval</h2>
      <div class="row" style="margin: 30px 0;">
        <% if @lookbooks.count == 0 %>
          <p class="medium-margin text-center boldest" style="width: 100%;">There are no pending lookbooks</p>
        <% end %>
        <% @lookbooks.each do |lookbook| %>
          <div class="" style="margin-bottom: 15px; width: 100%;">
            <%= render 'shared/upload_cards', item: lookbook %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
