<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Pending Approval</h2>
      <hr>
      <%= link_to "NEW LOOKBOOK", new_lookbook_path, class: 'primary-button products-admin-primary m10' %>
      <div class="row" style="margin: 30px 0;">
        <% if @lookbooks.count == 0 %>
          <p class="medium-margin text-center boldest muli grey s-medium-text" style="width: 100%;">There are no pending lookbooks</p>
        <% end %>
        <% @lookbooks.each do |lookbook| %>
          <%= render 'shared/upload_cards', item: lookbook %>
        <% end %>
      </div>
    </div>
  </div>
</div>
