<div class="about-us-wrapper" style="background-image: url('<%= asset_path 'about-us-background.png' %>')">
    <div class="container">
      <div class="about-us-banner">
        <div class="about-us-image" style="background-image: url('https://images.pexels.com/photos/1625775/pexels-photo-1625775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <div class="about-us-text">
          <h3>About Us</h3>
          <h4>What's Loop Beauty?</h4>
          <h6 class="didot">We make cosmetic selection for women of colour aspirational, accessible and more effective.</h6>
          <h6 class="didot">Our team partners with a network of the best-inclass influencers to sort through the 1000s of beauty products and brands on the market to bring you all the best products in "one-stop shops" along with tutorials, editorial and recommendations straight from our expert network of influencers to help you get the perfect product.</h6>
        </div>
      </div>
      <div class="our-history-banner">
        <h3>Our History</h3>
        <h6 class="didot">Everyone knows it's no secret that women of colour get the short end of the stick in the world of beauty. Ariel saw unclose the beauty industry's challenge meeting the needs of women of colour. Filtering between beauty brands, tracking beauty experts and trends to determine the best product can be an up hill battle.</h6>
        <div class="our-history-image" style="background-image: url('https://images.pexels.com/photos/1625775/pexels-photo-1625775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <h6 class="didot">Although brands are now embracing inclusivity and shifting their marketing and products to suit the needs of women of colour, it's still challenging to understand and find the best for us.</h6>
      </div>
      <div class="loop-beauty-banner">
        <%= image_tag 'loop-beauty-logo.svg' %>
        <h4>Making cosmetic selection easier for women of colour</h4>
        <div class="loop-beauty-founder-container">
          <div class="loop-beauty-founder-text">
            <h6 class="didot">Launched in 2018 by Ariel Roberts, a beauty executive with 10 years experience working in the industry, Ariel wanted a place made especially for women of colour to introduce them to incredible beauty brands, a place where people could discover incredible beauty experts, and find suggestions from a trusted friend - not from an anonymous, crowd-sourced recommendation engine.</h6>
          </div>
          <div class="loop-beauty-founder-image" style="background-image: url('https://images.pexels.com/photos/1625775/pexels-photo-1625775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        </div>
      </div>
    </div>
</div>
