<div class="holding-page-image-banner" style="background-image: url('<%= asset_path 'homepage-header.jpg' %>')">
  <div class="holding-page-banner-text-container">
    <div class="holding-page-banner-text">
      <h2>Introducting Glossier's new eye pallette..</h2>
      <%= link_to 'Read more', '#' %>
    </div>
  </div>
</div>
<div class="insider-info-container">
  <h2 class="insider-info-title text-center">Insider Info</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="insider-info-cards">
          <div class="insider-info-text">
            <p class="insider-info-title">Ask the expert</p>
            <p>Girlie talk with influencer Shantania Beckford</p>
          </div>
          <div class="insider-info-image" style="background-image: url('https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="insider-info-cards">
          <div class="insider-info-text">
            <p class="insider-info-title">Ask the expert</p>
            <p>Girlie talk with influencer Shantania Beckford</p>
          </div>
          <div class="insider-info-image" style="background-image: url('https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="insider-info-cards">
          <div class="insider-info-text">
            <p class="insider-info-title">Ask the expert</p>
            <p>Girlie talk with influencer Shantania Beckford</p>
          </div>
          <div class="insider-info-image" style="background-image: url('https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        </div>
      </div>
    </div>
  </div>
</div>
