<div class="qna-wrapper">
  <div class="container">
    <h3 class="text-center">Interview with Uche Natori</h3>
    <div class="question-banner">
      <div class="question-image">
        <%= image_tag 'https://i.pinimg.com/originals/bf/8d/5e/bf8d5e069c9250b243ef43d28daba6bd.png' %>
      </div>
      <div class="question-text">
        <h4>How did you become a make up enthusiast?</h4>
        <p class="old-standard">I used to watch loads of youtube videos on make up and since then Ive always loved it.. I repeat, I used to watch loads of youtube videos on make up and since then Ive always loved it.</p>
        <h4>How did you become a make up enthusiast?</h4>
        <p class="old-standard">I used to watch loads of youtube videos on make up and since then Ive always loved it.. I repeat, I used to watch loads of youtube videos on make up and since then Ive always loved it.</p>
      </div>
    </div>
    <div class="question-banner question-middle">
      <div class="question-text">
        <h4>How did you become a make up enthusiast?</h4>
        <p class="old-standard">I used to watch loads of youtube videos on make up and since then Ive always loved it.. I repeat, I used to watch loads of youtube videos on make up and since then Ive always loved it.</p>
        <h4>How did you become a make up enthusiast?</h4>
        <p class="old-standard">I used to watch loads of youtube videos on make up and since then Ive always loved it.. I repeat, I used to watch loads of youtube videos on make up and since then Ive always loved it.</p>
      </div>
      <div class="question-image">
        <%= image_tag 'https://i.pinimg.com/originals/bf/8d/5e/bf8d5e069c9250b243ef43d28daba6bd.png' %>
      </div>
    </div>
    <div class="question-banner">
      <div class="question-image">
        <%= image_tag 'https://i.pinimg.com/originals/bf/8d/5e/bf8d5e069c9250b243ef43d28daba6bd.png' %>
      </div>
      <div class="question-text">
        <h4>How did you become a make up enthusiast?</h4>
        <p class="old-standard">I used to watch loads of youtube videos on make up and since then Ive always loved it.. I repeat, I used to watch loads of youtube videos on make up and since then Ive always loved it.</p>
        <h4>How did you become a make up enthusiast?</h4>
        <p class="old-standard">I used to watch loads of youtube videos on make up and since then Ive always loved it.. I repeat, I used to watch loads of youtube videos on make up and since then Ive always loved it.</p>
      </div>
    </div>
  </div>
</div>
