
<div class="privacy-and-terms-container">
  <h2 class="text-center boldest margin-bottom">Returns</h6>
  <h6 class="boldest margin-bottom">Buy with confidence thanks to Loop Beauty's 100% Satisfaction Guarentee*</h5>
  <p class="didot">As part of our commitment to delivering expert, unbiased beauty advice, our straightforward returns policy ensures that if you are not happy with a purchase, we will put it right.</p>
  <p class="didot large-margin-bottom">We're pleased to inform you that any unopened, unused products can be returned and fully refunded or exchanged within 28 days of purchase with a proof of purchase.</p>
  <h4 class="boldest margin-bottom">Returns Procedure</h4>
  <h6 class="boldest margin-bottom">FREE Returns on Online Orders</h5>
  <p class="didot">For all UK returns please <%= link_to 'Click Here', 'https://tracking.controlport.co.uk/e9ab6870/loop-beauty/return/49cbcb' %> to create and print a prepaid returns label*.</p>
  <p class="didot">Peel the label off and attach it to the outside of your parcel.</p>
  <p class="didot large-margin-bottom">Please allow up to 4 working days after your return has been received for your refund or exchange to be processed.</p>
  <h6 class="boldest margin-bottom">How to return a European/International order</h5>
  <p class="didot">For any parcels delivered outside of the UK, please ensure your parcel is sent back by Recorded Delivery.</p>
  <p class="didot">We strongly recommend that you obtain a postage receipt with your tracking number. We are responsible for your parcel only once it has been received at our warehouse.</p>
  <p class="didot margin-bottom">Items lost in transit will not be treated as returned, and cannot be exhanged or refunded. Unless an item is faulty, we cannot refund return postage costs.</p>
  <p class="didot italic" style="color: #989898">*Terms & Conditions</p>
  <p class="didot italic" style="color: #989898">We are responsible for your parcel once it has been received at our warehouse. Items lost in transit will not be treated as returned, and cannot be exchanged or refunded.</p>
  <p class="didot italic" style="color: #989898">Excludes gift card/e-gift cards, samples and gift with purchase, Sale and clearance items. Used is defined as any variation from its original condition including opened or outer seal broken. Customers exchanging goods can choose from our full selection including gift cards. Exchanges for a product of lesser value will have the remainder refunded on to a gift card. Our satisfaction guarentee does not extend to a previous return if it is not in its origin condition.</p>
  <p class="didot italic" style="color: #989898">Loop Beauty will refund your payment for the goods as soon as possible by the origin payment method, no later then 4 working days after we have received the goods. In addition to our returns policy, you have the right to cancel your order within 14 working days from the date of receipt of the goods if you send us a notice of cancellation in writing and return the goods to us in their original, unopened and unused condition. Where goods are delivered to a third party you may also exercise this right if you are able to return the goods to us in their original, unopened and unused condition. Your statutory rights are not affected.</p>
  <p class="didot italic" style="color: #989898">Once your refund has been processed, it can take your card provider 3 to 5 working days to credit your account.</p>

</div>
