<div class="privacy-and-terms-container">
  <h1 class="text-center static-title margin-bottom">Terms and Conditions for Online Sale</h1>
  <p class="neue-machina">Welcome to the Loop Beauty Limited website (the “Site").</p>
  <p class="neue-machina">By placing an order with Loop Beauty Limited (“Loop Beauty", "we", "us" or "our") for products which are sold on the Site ("Products") you will be deemed to have read, understood and agreed to these Terms & Conditions ("T&Cs"). Please read these T&Cs carefully and, if you are unhappy with any aspect, you should contact one of our customer service advisors before placing an order with us.</p>
  <p class="neue-machina">We amend these T&Cs from time to time. Please check the top of this page to see when these T&Cs were last updated. Every time you order Products from us, the T&Cs in force at the time of your order will apply to the contract between you and us. If we have to revise these T&Cs and this has a material impact on your order, we will contact you to give you reasonable advance notice of the changes and let you know how to cancel the contract if you are not happy with the changes.</p>
  <h5 class="boldest italic">1. About Loop Beauty</h3>
  <p class="neue-machina">This Site is operated in the United Kingdom and all sales on the Site are made by Loop Beauty Limited, a company incorporated in England and Wales with company registration number 11236332, VAT number 327 1712 19 and whose registered office is located at 7 Bell Yard, London, WC2A 2JR United Kingdom.</p>
  <p class="neue-machina">You have chosen to visit the Site in the United Kingdom in order to purchase our Products. As a consequence, irrespective of your place of residence, any purchase you make will occur in the United Kingdom and will be governed by these T&Cs and the laws of England and Wales.<br><br>Any use of currencies other than the UK pound sterling are purely for your ease of reference.</p>
  <h5 class="boldest italic">2. Eligibility</h3>
  <p class="neue-machina">In order to make a purchase through the Site or to use the services or features made available to you on the Site you will be required to register. When you register, you will be required to provide information about yourself including, but not limited to, your name, telephone number and e-mail address, which is true, accurate, current and complete in all respects. Should any of your registration information change in future you are required to amend your personal online account immediately. We may change registration requirements from time to time. Furthermore, when ordering items, you will be required to provide payment details and you represent and warrant that the payment details you provide on ordering are both valid and correct and you confirm that you are the person referred to in the billing information provided.</p>
  <p class="neue-machina">The purchase of Products through the Site is strictly limited to parties who can lawfully enter into and form contracts on the Site in accordance with English law.</p>
  <h5 class="boldest italic">3. Pricing policy</h3>
  <p class="neue-machina">We have taken great care in the preparation of the content of this Site, in particular to ensure that the details, descriptions and prices quoted are correct at the time of publishing. However, we will only accept orders if there are no material errors in the description of the Products or the prices as advertised on this Site. All prices are displayed including VAT and exclusive of delivery charges. The total cost of your order is the price of the Products ordered plus VAT at the current rate and plus the delivery charges as set out during the checkout process.</p>
  <p class="neue-machina">We do not charge your credit or debit card until we dispatch your order. Items in your online Shopping Cart will reflect the most recent price displayed on the Product's detail page.</p>
  <h5 class="boldest italic">4.  Availability</h3>
  <p class="neue-machina">All Products are subject to availability. Validly stated prices on our Site remain in effect for so long as the Products are available or as otherwise stated on our Site. We will inform you as soon as possible if the Products you have ordered are not available.</p>
  <h5 class="boldest italic">5. Online ordering process</h3>
  <p class="neue-machina">The ordering process consists of following steps:</p>
  <ol>
    <li><p class="neue-machina">you add the Products which you wish to purchase to your shopping cart;</p></li>
    <li><p class="neue-machina">you select your preferred delivery method;</p></li>
    <li><p class="neue-machina">you provide an address for delivery, a billing address, and any requested payment information;</p></li>
    <li><p class="neue-machina">you will be asked to read carefully and then accept the T&Cs;</p></li>
    <li><p class="neue-machina">before submitting your order you will have a final opportunity to review the Products to be purchased and their prices (including any additional charges and fees such as delivery costs) and all of the information you have submitted; and</p></li>
    <li><p class="neue-machina">you will click 'Submit' to finalise your order.</p></li>
  </ol>
  <h5 class="boldest italic">6. Ordering errors</h3>
  <p class="neue-machina">You are able to correct errors on your order up to the point at which you click on 'submit order' on the final page of our ordering process.</p>
  <h5 class="boldest italic">7. Pre-ordering</h3>
  <p class="neue-machina">No payment is taken for pre-ordered items until they have been dispatched from our warehouse. We aim to dispatch all pre-ordered items as soon as they become available for shipping. Dispatch dates can be subject to change. Delivery dates will depend on the delivery method chosen at the time of purchase.</p>
  <h5 class="boldest italic">8. Back orders</h3>
  <p class="neue-machina">Some items will be available for back order when they are out of stock and we are expecting new stock to arrive very soon to our warehouse. No payment is taken for back-ordered items until they have been dispatched from our warehouse. We aim to dispatch all back-ordered items as soon as they become available for shipping. Dispatch dates are subject to change. Delivery dates will depend on the shipping method chosen at the time of purchase.</p>
  <h5 class="boldest italic">9. Acknowledgement and acceptance of your order</h3>
  <p class="neue-machina">We will notify you by e-mail as soon as possible to acknowledge receipt of your order and to provide you with an order number. If we are unable to fulfil your order following this acknowledgement, we will contact you by e-mail or telephone advising you of this. We will confirm acceptance of your order by sending you an e-mail that confirms that the Products have been dispatched ("Dispatch Confirmation"). A legally binding contract between us will be formed when we send you the Dispatch Confirmation (or, in the unlikely event that a Dispatch Confirmation is not sent due to a processing error, when we dispatch the Products to you) ("Contract"). If you require any information concerning your order please e-mail us at <a href="mailto:hello@myloopbeauty.com">hello@myloopbeauty.com</a> quoting your order number. We may not accept your order if a Product you have ordered is out of stock, if we have identified a Product or pricing error, or if we are unable to obtain authorisation for your payment. Please note that we reserve the right to reject any offer to purchase by you at any time.</p>
  <h5 class="boldest italic">10. Delivery</h3>
  <p class="neue-machina">Deliveries can be made to the UK and select countries in Europe. As all our parcels require a signature upon delivery, we are unable to deliver to PO Box addresses. If you have a question about delivery we will advise you if you email our Customer Services team on <a href="mailto:hello@myloopbeauty.com">hello@myloopbeauty.com</a>.</p>
  <p class="neue-machina">We will deliver the merchandise in accordance with the delivery option selected by you. Please view our delivery options below for full details and terms. Whenever referred to, working days exclude Saturday, Sunday and English bank holidays. Orders to one address may be delivered in one or more deliveries; however, you will incur only one delivery charge. If you have specified delivery to more than one address when placing your order, there is a separate charge for each destination address. Any delivery timescales are indicative only.</p>
  <p class="neue-machina">We are not responsible for delivery delays outside our control. If our supply of the products is delayed by an event outside our control then we will contact you as soon as possible to let you know and we will take steps to minimise the effect of the delay. Provided we do this we will not be liable for delays caused by the event, but if there is a risk of substantial delay you may contact us to end the contract and receive a refund for any products you have paid for but not received.</p>
  <p class="neue-machina">Upon delivery of the Products to you, we will provide you with sufficient information to enable you to exercise your statutory right of cancellation and to address any intended cancellation to the correct addressee or to return or exchange your Products. For further information, please see the Your cancellation right and the Your other statutory rights to return Products under the Consumer Rights Act 2015 sections within these T&Cs.</p>
  <p class="neue-machina">You may select complimentary samples with every order placed. If there is a particular product you'd like to try, call our Customer Services team and we will do our best to help. Offer available while stocks last. Loop Beauty reserves the right to substitute samples or withdraw this offer at any time.</p>
  <p class="neue-machina">See our shipping and delivery options and terms <%= link_to "here", shipping_path %>.</p>
  <h5 class="boldest italic">11. Inspection</h3>
  <p class="neue-machina">You should inspect the Products upon receipt and check that everything specified on the delivery note is included. You will be deemed to have accepted the order unless you notify us otherwise and return the Products in accordance with your cancellation rights or other statutory rights (as referred to below).</p>
  <h5 class="boldest italic">12. Payment</h3>
  <p class="neue-machina">Payment can be made through any of the following methods: Visa, Mastercard, Delta, Electron, Solo, JCB, Maestrol, Paypal and American Express. Payment will be debited and cleared from your account at the point at which your order is dispatched. You confirm that the credit or debit card being used is yours. Please note that all credit/debit cardholders are subject to validation checks and authorisation by the issuer of the card. If the issuer of your payment card refuses to pay or does not for any reason authorise payment to Loop Beauty, we will not be liable for any delay or non-delivery of Products. We retain the legal ownership of all Products until full payment has been made by you and received by us and legal ownership of the Products will immediately transfer back to us if we refund any payment for the Products to you. Risk in the Products transfers to you upon delivery.</p>
  <p class="neue-machina">Please refer to our <%= link_to "Privacy Policy", privacy_policy_path %> for further information regarding secure payment and internet fraud.</p>
  <h5 class="boldest italic">13.  Your cancellation rights</h3>
  <p class="neue-machina">13.1 As you are a consumer, you have a legal right to cancel a Contract under the Consumer Contracts Regulations 2013 from the date of the Dispatch Confirmation until the date which is 14 days after you receive the Products. This means that during the relevant period if you change your mind or decide for any other reason that you do not want to receive or keep a Product, you can notify us of your decision to cancel the Contract and receive a refund.</p>
  <p class="neue-machina">13.2 Your right to return goods does not apply to goods (i) made to your specification; or (ii) which have been clearly personalised; or (iii) which by reason of their nature cannot be returned or are liable to deteriorate or expire rapidly; or (iv) where sealed goods have been supplied which are not suitable for return due to health protection or hygiene reasons, if they become unsealed after delivery.</p>
  <p class="neue-machina">13.3 To cancel a Contract, you just need to let us know that you have decided to cancel. The easiest way to do this is to complete the Cancellation Form included with your Invoice, or by e-mailing us at <a href="mailto:hello@myloopbeauty.com">hello@myloopbeauty.com</a>. In any such e-mail or written communication, you must include details of your order, including your order number, to enable us to identify it. Your cancellation is effective from the date you send us the e-mail or post the letter to us.</p>
  <p class="neue-machina">13.4 If you cancel your Contract we will:</p>
  <p class="neue-machina">(a) Refund you the price you paid for the Products. However, please note we are permitted by law to reduce your refund to reflect any reduction in the value of the goods if this has been caused by your handling them in a way which would not be permitted in a store. If we refund you the price paid before we are able to inspect the goods and later discover that you have handled them in an unacceptable way, you will be liable to pay to us an appropriate amount.</p>
  <p class="neue-machina">(b) Refund any delivery costs you have paid, although the maximum refund will be the cost of delivery by the least expensive delivery method we offer (as permitted by law).</p>
  <p class="neue-machina">(c) Make any refund due to you as soon as possible and in any event within 14 days after the day on which we receive the Products back from you or, if earlier, the day on which you provide us with evidence that you have sent the Products back to us.</p>
  <p class="neue-machina">(d) Refund you on the credit card or debit card used by you to pay. If you used vouchers to pay for the Products we may refund you in vouchers.</p>
  <p class="neue-machina">(e) Exchanges. If you indicate on your cancellation form that you would rather receive an exchange than a refund then this will be processed within 7 working days of receiving your returned goods and will be delivered via standard delivery. In these circumstances, a new Contract will be deemed to have been formed between us in relation to the new Product you have selected (and your various rights of cancellation and return as set out herein will apply to that Product). In the event that we are not able to satisfy your request for an exchange then we will refund you the cost of the Products and the original Contract between us will be cancelled.</p>
  <p class="neue-machina">13.5 If a Product has been dispatched to you or you have received it before you decide to cancel your Contract:</p>
  <p class="neue-machina">(a) you must return it to us in its original packaging without undue delay and in any event no later than 14 days after the day on which you let us know that you wish to cancel the Contract;</p>
  <p class="neue-machina">(b) For all UK returns please <%= link_to 'Click Here', 'https://tracking.controlport.co.uk/e9ab6870/loop-beauty/return/49cbcb', target: '_blank' %> to create and print a pre-paid returns label. For any parcels delivered outside of the UK, please ensure your parcel is sent back by recorded delivery.</p>
  <p class="neue-machina">(c) you should have regard to any labelling and packaging guidelines produced by Royal Mail or any other courier used;</p>
  <p class="neue-machina">(d) if sending by post, we recommend that you obtain proof of postage as we do not accept responsibility for items lost in transit; and</p>
  <p class="neue-machina">(e) if you cancel your order but do not return such goods to us within 14 working days of notifying us of cancellation, we shall be entitled to withhold payment of any refund.</p>
  <h5 class="boldest italic">14. Your other statutory rights to return Products under the Consumer Rights Act 2015</h3>
  <p class="neue-machina">14.1 Because you are a consumer, we are under a legal duty to supply Products that are in conformity with the Contract. As a consumer, you have legal rights in relation to Products that are faulty or not as described. These legal rights (which are summarised in general terms below) are not affected by your right of return and refund in clause 15 (above) or anything else in these T&Cs.</p>
  <p class="neue-machina">14.2 The Consumer Rights Act 2015 states that goods must be as described, fit for purpose and of satisfactory quality. During the expected lifespan of your Products your legal rights entitle you to the following:</p>
  <p class="neue-machina">(a) Up to 30 days: if your goods are faulty, then you are entitled to an immediate refund.</p>
  <p class="neue-machina">(b) Up to 6 months: if your goods cannot be repaired or replaced, then you are entitled to a full refund in most cases.</p>
  <p class="neue-machina">(c)  After 6 months (depending on the type of Product): if your goods do not last a reasonable length of time then you may be entitled to some money back.</p>
  <h5 class="boldest italic">15. Sale</h3>
  <p class="neue-machina">All sale and promotional items have been displayed and available to buy at the original, higher price for at least 28 days online before being reduced to the reduced price stated either on the Site or in-store. Some items within the sale are promotional, therefore the prices of these items are subject to change and may increase after the sale period. Standard UK delivery of Sale purchases may take up to 7 working days. Sale items may take longer to arrive due to the volume of orders placed during our sale period. Please note that while all products remain in pristine condition, due to the nature of the sale some external packaging may appear slightly worn. Sale items cannot be gift wrapped. Please note that an item could go out of stock during checkout and your purchase is only confirmed once dispatched.</p>
  <h5 class="boldest italic">16. Competitions and prizes</h3>
  <p class="neue-machina">These rules apply to all prize promotions including free draws, prize competitions and instant win offers.</p>
  <ul>
    <li>
      <p class="neue-machina">These rules apply to all prize promotions including free draws, prize competitions and instant win offers. From time to time Loop Beauty will run competitions, free prize draws and promotions on this Site. These may be subject to additional terms that will be made available at the time.</p>
    </li>
    <li>
      <p class="neue-machina">Prize draws are open to all residents of the UK, except employees of Loop Beauty, the promoter and their immediate families and anyone else connected with the creation and administration of the promotion.</p>
    </li>
    <li>
      <p class="neue-machina">Prizes are non-transferable, non-negotiable and no cash alternatives will be offered.</p>
    </li>
    <li>
      <p class="neue-machina">Loop Beauty reserves the right to substitute the prize for another prize of equal value.</p>
    </li>
    <li>
      <p class="neue-machina">No purchase necessary to enter the competitions unless otherwise stated on the promotional activity with a specific competition.</p>
    </li>
    <li>
      <p class="neue-machina">By entering the prize draw, the entrant agrees to be bound by the rules and by any other requirements set out in the promotional material accompanying the promotion.</p>
    </li>
    <li>
      <p class="neue-machina">By entering the promotion, the entrant agrees to the terms of our <%= link_to "Privacy Policy", privacy_policy_path %>.</p>
    </li>
    <li>
      <p class="neue-machina">Winners will be notified by e-mail within 1 month of the end of the promotion. Winners have 5 business/working days to respond in full to the e-mail or another winner will be drawn.</p>
    </li>
    <li>
      <p class="neue-machina">By entering the promotion, the winner(s) consent to any publicity generated as a result of the promotion, and use on websites, magazines or mobile services at any time.</p>
    </li>
    <li>
      <p class="neue-machina">The Site Editor's decision is final and no correspondence will be entered into.</p>
    </li>
    <li>
      <p class="neue-machina">Odds of winning depend on the number of eligible entries received.</p>
    </li>
    <li>
      <p class="neue-machina">Only 1 entry per person. Spammers will be disqualified.</p>
    </li>
    <li>
      <p class="neue-machina">Loop Beauty will not accept responsibility for loss through technical fault or incomplete, illegible or other damaged entries. Proof of entry is not automatically proof of receipt.</p>
    </li>
    <li>
      <p class="neue-machina">The promotional draws are held by Loop Beauty Limited, 7 Bell Yard, London, WC2A 2JR, United Kingdom.</p>
    </li>
    <li>
      <p class="neue-machina">Details of the winner(s) can be obtained by sending a SAE addressed to Loop Beauty Limited, 7 Bell Yard, London, WC2A 2JR, United Kingdom within 21 days of the closing date of the promotion.</p>
    </li>
  </ul>
  <h5 class="boldest italic">17. Our liability for loss or damage suffered by you</h3>
  <p class="neue-machina">We are responsible to you for foreseeable loss and damage caused by us. If we fail to comply with these T&Cs we will be responsible for loss or damage that you suffer that is a foreseeable result of our breaking this contract or our failing to use reasonable care and skill. Loss or damage is foreseeable if either it is obvious that it will happen or if, at the time the contract was made, both we and you knew it might happen (for example, if you discussed it with us during the sales process).</p>
  <p class="neue-machina">We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors; for fraud or fraudulent misrepresentation; for breach of your legal rights in relation to the Products as summarised at clause 16; and for defective Products under the Consumer Protection Act 1987.</p>
  <p class="neue-machina">We only supply Products for domestic and private use. You agree not to use the Products for any commercial, business or resale purposes. We have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
  <h5 class="boldest italic">18. Questions and complaints</h3>
  <p class="neue-machina">If you have any questions about these T&Cs or if you wish to contact us to complain about any matter in regard to the Products, please e-mail us at <a href="mailto:hello@myloopbeauty.com">hello@myloopbeauty.com</a> or write to our Customer Services team by post at: Loop Beauty Limited, 7 Bell Yard, London, WC2A 2JR, United Kingdom.</p>
  <h5 class="boldest italic">19. Transfer of rights</h3>
  <p class="neue-machina">We may transfer our rights and obligations under these T&Cs to another organisation and we will always notify you in writing if this happens (but this will not affect your rights or our obligations under these T&Cs). You may only transfer your rights or your obligations under these T&Cs to another person if we agree in writing.</p>
  <h5 class="boldest italic">20. Law, jurisdiction and language</h3>
  <p class="neue-machina">This Site, any content contained herein and any contracts entered into as a result of usage of this Site are governed by English law. The parties to any such contract agree to submit to the exclusive jurisdiction of the courts of England and Wales. All contracts are concluded in English.</p>
</div>








 



 



