<div class="privacy-and-terms-container">
  <h2 class="text-center boldest margin-bottom">Shipping</h2>
  <p class="didot">Please note: all services are tracked. A dispatch confirmation email, including a tracking code, will ne sent when your order leaves our warehouse. Please visit the website of the courier and enter the code to track your order.</p>
  <ul>
    <li><p class="didot">All order placed after 3:30pm will be dispatched the following day, Monday-Friday.</p></li>
    <li><p class="didot">Next Day orders placed after 3:30pm Friday-Sunday will be delivered by the following Tuesday.</p></li>
    <li><p class="didot">Order before 3:30pm for same day dispatch. Orders placed after this time will be dispatched the following working day.</p></li>
  </ul>
  <p class="didot">Please note our warehouse operates Monday-Friday. Orders will be dispatched within this timeframe. Orders placed after 3:30pm on Friday will be dispatched the following Monday.</p>
</div>
<div class="shipping-table-container">
  <table class="shipping-table">
    <tr>
      <th class="shipping-table-left muli">Where do you live?</th>
      <th class="muli">Which delivery option?</th>
      <th class="muli">Will I need to sign for the order?</th>
      <th class="muli">How much will it cost?</th>
      <th class="muli">How long will it take?</th>
      <th class="muli">When will it be delivered?</th>
    </tr>
    <tr>
      <td class="didotshipping-table-left">Mainland UK / Northern Ireland / Channel Islands / Highlands</td>
      <td class="didot"><span class="boldest">Standard</span><br><span>Royal Mail</span></td>
      <td class="didot">NO</td>
      <td class="didot">£5.95</td>
      <td class="didot">2-5 working days</td>
      <td class="didot">Monday-Saturday</td>
    </tr>
    <tr>
      <td class="didot shipping-table-left"></td>
      <td class="didot"><span class="boldest">Express</span><br><span>Royal Mail</span></td>
      <td class="didot">NO</td>
      <td class="didot">£6.95</td>
      <td class="didot">Next working day</td>
      <td class="didot">Monday-Saturday</td>
    </tr>
    <tr>
      <td class="didot shipping-table-left"><span class="muli boldest">Europe:</span><br> Germany, France, Republic of Ireland, Netherlands, Belgium, Luxembourg, Austria, Denmark, Czech Republic, Italy, Slovakia, Spain, Finland, Portugal, Sweden, Poland, Estonia, Croatia, Hungary, Slovenia, Lithuania, Latvia, Bulgaria, Romania and Greece</td>
      <td class="didot"><span class="boldest">INTL</span><br><span>Royal Mail</span></td>
      <td class="didot">YES</td>
      <td class="didot">£12.95</td>
      <td class="didot">3-5 working days</td>
      <td class="didot">Monday-Saturday</td>
    </tr>
  </table>
</div>
<div class="privacy-and-terms-container">
  <h6 class="text-center boldest margin-bottom">Countries we ship to</h6>
  <p class="didot">United Kingdom including Mainland United Kingdom, Channel Islands, Scottish Highlands, Northen Ireland.</p>
  <p class="didot">Europe including Germany, France, Republic of Ireland, Nertherlands, Belgium, Luxembourg, Austria, Denmark, Czech Republic, Italy, Slovakia, Spain, Finland, Portugal, Sweden, Poland, Estonia, Croatia, Hungary, Slovenia, Lithuania, Latvia, Bulgaria, Romania and Greece</p>
  <h6 class="text-center boldest margin-bottom">Taxes & Duties</h6>
  <p class="didot">Import taxes and duties will be the responsibility of the customer should the goods be ordered from our website for delivery outside on the UK. Unfortunately, we have no control over the costs as they are imposed by your local customs office and we are therefore unable to offer assistance on these processes. We advise that you check the import charges applicable in any country before ordering products to be delivered there.</p>
</div>


