.admin-products-wrapper {
  height: 100%;
  width: 100vw;
  background: #F5F5F5;
  @include absCenterColumn;
  padding: 20px;
}

.admin-products-container {
  padding: 20px;
  @include absCenterColumn;
  .form-group {
    margin: 0;
  }
}

.row-admin-cards {
  width: 100%;
  margin: 10px 0 0 0;
  @include for-phone-only {
    padding: 0;
  }
}

.products-admin-options {
  display: flex;
  justify-content: space-evenly;
}

.edit_product, .edit_shade, .new_shade {
  @include for-phone-only {
    width: 100% !important;
    select {
      max-width: 100% !important;
    }
  }
}

.shade-benefit-name {
  width: 220px;
  @include for-phone-only {
    width: 140px;
  }
}

.shade-photos-container {
  display: flex;
  margin-left: 120px;
  @include for-phone-only {
    margin-left: 0
  }
}

.filters-container-admin-products {
  width: 288px !important;
}

.freebies-form-container, .admin-products-new-container {
  fieldset .form-check {
    padding: 0;
  }
}

// FREEBIES

.freebies-card {
  img {
    width: 100%;
  }
}
