.admin-products-wrapper {
  height: 100%;
  width: 100vw;
  background: #F5F5F5;
  @include absCenterColumn;
  padding: 20px;
}

.admin-products-container {
  padding: 20px;
  @include absCenterColumn;
  .form-group {
    margin: 0;
  }
}

.products-admin-options {
  display: flex;
  justify-content: space-evenly;
}

.filters-container-admin-products {
  width: 288px !important;
}

.freebies-form-container, .admin-products-new-container {
  fieldset .form-check {
    padding: 0;
  }
}

// FREEBIES

.freebies-card {
  img {
    width: 100%;
  }
}
