<div class="row row-admin-cards" id="admin-cards-container">
  <% @products.each do |product| %>
    <%= render 'admin/products/admin_product_card', product: product %>
  <% end %>
  <div class="col-12 d-flex justify-content-center">
    <p class="boldest muli small-text grey"><%= page_entries_info @products %></p>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <%= paginate @products %>
  </div>
</div>
