<div class="row row-admin-cards pb-4" id="admin-cards-container">
  <% @products.each do |product| %>
    <%= render 'admin/products/admin_product_card', product: product %>
  <% end %>
  <div class="col-12 d-flex justify-content-center">
    <p class="lighter ls-xs"><%= page_entries_info @products %></p>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <%= paginate @products %>
  </div>
</div>
