.partial-banner {
  height: calc(100vw * 0.25);
  max-height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  @include for-phone-only {
    height: calc(100vw * 0.5);
  }
}

.partial-filters-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 40px;
  @include for-medium-devices-down {
    padding: 0px 26px;
  }
  @include for-phone-only {
    display: block;
    height: unset;
  }

  .transparent-filter {
    padding: 10px 30px;
    border: 1px solid black;
    width: 200px;
  }

  h5 {
    text-align: left;
    font-weight: bolder;
    margin-right: 25px;
    width: 200px;
    @include for-small-devices-down {
      display: none;
    }
  }

  h6 {
    text-align: left;
    font-weight: bolder;

    @include for-medium-devices-down {
      width: 70%;
    }

    @include for-small-devices-down {
      width: 100%;
    }

    @include for-medium-devices-up {
      display: block;
      width: 70%;
      margin-left: 20px;
    }

    @include for-large-devices-up {
      width: 85%;
      margin-left: -10px;
    }

    @include for-xxlarge-devices-up {
      width: 80%;
      margin-left: 20px;
    }

    @include for-xxxlarge-devices-up {
      width: 85%;
    }
  }
  @include for-medium-devices-down {
    margin-bottom: 5px;
    p {
      margin-top: 5px;
      margin-left: 2px;
    }
  }
}

.partial-filters-container {
  padding: 0 10px;
  @include for-small-devices-down {
    padding: 0;
  }
}
.partial-filters-two {
  display: flex;
  width: 100%;
  padding: 0 20px;
  @include for-small-devices-down {
    flex-direction: column;
    padding: 0 16px;
  }
}

.partial-filters {
  height: fit-content;
  width: 200px;
  margin: 11px 5px 0 0;
  .form-group {
    margin: 0;
    padding-left: 10px;
  }
  @include for-small-devices-down {
    border-radius: 2px;
    width: 100%;
  }
}

.mobile-filters {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  min-width: 200px;
  height: 35px;
  background-image: asset_url('dropdown-down-small.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #ced4da;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: black;
  display: none;
  cursor: pointer;
  @include for-small-devices-down {
    display: flex;
    height: 30px;
    margin: 3px 0;
  }
}

.filters-show {
  display: block !important;
}

.partial-filters_collection {
  input {
    // width: 5%;
  }

  label {
    width: 95%;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
  }
}

.partial-products {
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: inherit;
  @include for-medium-devices-down {
    width: 70%;
  }
  @include for-small-devices-down {
    width: 100%;
  }
  @include for-medium-devices-up {
    width: 70%;
  }
  @include for-large-devices-up {
    width: 85%;
  }
  @include for-xxlarge-devices-up {
    width: 80%;
  }
  @include for-xxxlarge-devices-up {
    width: 85%;
  }
}

.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  h6 {
    margin: 0;
    font-size: 16px;
  }
}

.filter-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-left: 8px;
  h6 {
    margin: 0;
    font-size: 14px;
  }
}

.filter-arrow {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}

.filters-options {
  overflow: hidden;
  max-height: 0;
  transition: all 0.1s ease;
}

.show-filters {
  max-height: 400px !important;
  overflow: scroll !important;
}

.arrow-flip {
  transform: rotate(0deg);
}

.filter-subcategory-container, .filters-options-brands {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  input[type="checkbox"] {
    opacity: 0;
  }
  label::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid;
  }
  label::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 8px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
  }
  label {
    position: relative;
  }
  label::before, label::after {
    position: absolute;
  }
  label::before {
    top: 1px;
    left: -20px;
  }
  label::after {
    left: -18px;
    top: 3px;
  }
  input[type="checkbox"] + label::after {
    content: none;
  }
  /*Unhide the checkmark on the checked state*/
  input[type="checkbox"]:checked + label::after {
      content: "";
  }
}

