.shopping-bag-wrapper {
  height: 100%;
  width: 100%;
  background: #F5F5F5;
  padding: 50px 10px;
}

.shopping-bag-container {
  background: white;
  border: 1px solid #CFCFCF;
  max-width: 900px;
  margin: auto;
  position: relative;
  .influencer-credit-container {
    @include for-small-devices-up {
      top: 5px !important;
    }
    @include for-medium-devices-up {
      top: 5px !important;
    }
    @include for-large-devices-up {
      top: 15px !important;
    }
  }
  label {
    font-size: 12px;
  }
}

.shopping-bag-title {
  font-weight: 900;
  margin: 40px 0;
}

.shopping-bag-card {
  width: 70%;
  margin: auto;
  @include for-small-devices-down {
    width: 90%;
  }
}

.shopping-bag-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-phone-only {
    flex-direction: column;
  }
}

.shopping-bag-card-image {
  width: 150px;
}

.shopping-bag-card-quantity {
  display: flex;
  align-items: center;
  background: #F2F2F2;
  .form-group {
    margin: 0;
  }
}

.shopping-bag-quantity-controls {
  background: #F2F2F2;
  border: none;
  font-weight: 900;
  color: #6C6C6C;
  padding: 5px 10px;
}

.no-quantity {
  color: #D0D0D0;
  padding: 5px 10px;
}

.shopping-bag-checkout {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
  @include for-small-devices-down {
    width: 90%;
  }
  @include for-phone-only {
    display: flex;
    flex-direction: column;
  }
}

.shopping-bag-code {
  @include for-phone-only {
    margin-bottom: 50px;
  }
}

.discount-code-button {
  font-size: 12px !important;
  height: 40px !important;
  padding: 0 25px !important;
  margin: auto 0 auto auto !important;
}

.bag-checkout-button {
  font-size: 12px !important;
  height: 40px !important;
  padding: 0 25px !important;
  margin: auto 0 auto 10px !important;
  width: max-content !important;
}

.checkout-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shopping-bag-continue-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shopping-bag-card-title {
  flex: 1;
  padding: 0 10px;
  @include for-phone-only {
    @include absCenterColumn;
  }
}

.shopping-bag-card-price {
  margin: 0 50px 0 0;
  @include for-phone-only {
    margin: 10px 0;
  }
}

.shopping-bag-card-total {
  margin: 0 0 0 50px;
  @include for-phone-only {
    margin: 10px 0;
  }
}

.powered-by-stripe {
  height: 35px;
  margin: 15px 0;
}

.width-max-content {
  width: max-content;
}

#basket_discount_code {
  padding-right: calc(1.5em + 0.75rem);
}

.shopping-bag-image-container {
  position: relative;
}
