.loop-flashes {
  background: $background;
  color: #000;
  border: 1px solid #000;
  i {
    font-size: 18px;
  }
}

.fadeOut {
  opacity: 0 !important;
}

.hide-flash {
  display: none !important;
}

.alert {
  padding: 12px 20px !important;
}
