.footer-top {
  font-family: $menu-font;
  // height: 60px;
  background: white;
  border-bottom: 1px solid #d0cdcd;
  display: flex;
  justify-content: space-between;
  height: 60px;
  @include for-medium-devices-down {
    height: unset;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }
}

.footer-bottom {
  font-family: $menu-font;
  padding: 30px 0;
  background: white;
  @include absCenter;
  p {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    width: 350px;
    @include for-phone-only {
      width: 80%;
    }
  }
}

.footer-top-middle {

}

.footer-middle-item {
  padding: 0 15px;
  margin: 0;
  height: 100%;
  @include absCenter;
  color: black;
  font-size: 12px;
  font-weight: 900;
  &:hover {
    color: black;
    text-decoration: none;
    border-color: black;
    cursor: pointer;
  }
  a {
    margin-bottom: 0;
  }
  @include for-medium-devices-down {
    padding: 0 10px;
    font-size: 11px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: none;
  }
}

.footer-top-section {
  display: flex;
  align-items: center;
  i {
    font-size: 25px;
    @include for-phone-only {
      font-size: 30px;
    }
  }
  @include for-phone-only {
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 90%;
  }
}

.footer-last-section {
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 3px;
  a {
    color: black;
    transition: color 0.2s ease;
    &:hover {
      color: #9E9E9D;
    }
  }
  @include for-medium-devices-down {
    padding-right: 15px;
  }
  @include for-small-devices-down {
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    justify-content: center;
  }
}

.footer-first-section,{
  width: 130px;
  @include for-small-devices-down {
    display: none;
  }
}

.footer-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

