.footer {
  padding: 60px 32px 40px;
  background: $primary;
  .contact-form-button {
    color: #000000;
    background-color: #FFFFFF;
  }
  .send_email_input {
    width: unset !important;
    min-width: 180px;
    border-color: #FFFFFF;
    @include for-phone-only {
      flex-grow: 1;
    }
  }
}

.footer-logo img {
  width: 200px;
  margin-bottom: 24px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  @include for-small-devices-down {
    display: block;
  }
}

.footer-info-section {
  display: flex;
  @include for-phone-only {
    display: block;
  }
}

.footer-logo-section {
  @include for-small-devices-down {
    margin-bottom: 24px;
  }
}

.footer-section {
  margin-right: 12vw;
  @include for-large-devices-down {
    margin-right: 12vw;
  }
  @include for-medium-devices-down {
    margin-right: 4vw;
  }
  @include for-small-devices-down {
    margin-right: 0;
    flex-grow: 1;
  }
  @include for-phone-only {
    margin-bottom: 16px;
  }
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-social-links {
  display: flex;
  a {
    color: #000000;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer-social-link {
  @include absCenter;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  &:hover {
    background-color: #F2F0EE;
  }
}

.footer-section-title {
  color: #8C8C8E;
  letter-spacing: 1px;
  @include for-phone-only {
    margin-bottom: 8px;
  }
}
