.offers-banner {
  height: 40px;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.offers-banner-text {
  margin: 0;
  color: white;
  font-size: 12px;
  text-align: center;
  @include for-phone-only {
    font-size: 10px;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: $background;
  // border-bottom: 1px solid #ececec;
  padding: 0 40px;
  height: 96px;
  // position: relative;
  position: sticky;
  top: 0px;
  z-index: 105;
}

.navbar-menu {
  width: 166px;
  span {
    font-size: 14px;
    padding-top: 3px;
  }
  img {
    height: 15px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 57px;
}

.nav-link {
  @include for-small-devices-up {
    padding: 8px !important;
  }
}

.nav-item {
  display: flex;
  @include for-medium-devices-down {
    display: block;
  }
  img {
    height: 25px;
  }
}

.mobile-left-links {
  position: relative;
  display: flex;
  @include for-phone-only {
    display: block;
  }
  img {
    width: 25px;
  }
}

.navbar-nav {
  .dropdown-menu {
      position: absolute;
  }
}

.nav-link-normal {
  color: black;
  font-size: 14px;
  font-weight: 900;
  border-bottom: 1px solid black;
  margin: 0 5px;
  line-height: 15px;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.navbar-middle {
  display: flex;
  height: 100%;
  a:hover {
    text-decoration: none;
  }
  @include for-medium-devices-down {
    display: none;
  }
}

.navbar-middle-item {
  padding: 0 16px;
  margin: 0;
  height: 100%;
  @include absCenter;
  border-bottom: 3px solid transparent;
  color: black;
  font-size: 14px;
  font-weight: 900;
  &:hover {
    color: black;
    text-decoration: none;
    border-color: black;
    cursor: pointer;
  }
}

.freebie-item {
  margin: 0;
  height: 100%;
  @include absCenter;
  font-size: 14px;
  font-weight: 900;
  border-bottom: 3px solid transparent;
  p {
    padding: 8px 16px;
    color: black;
    background-color: #F2F0EE;
    &:hover {
      background-color:  #ECECEC;
    }
  }
}

.navbar-active {
  border-color: black !important;
}

.navbar-submenu {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 220px;
  top: 100px;
  justify-content: flex-start;
  background: white;
  padding: 32px;
  display: none;
}

.navbar-submenu-container {
  // padding-top: 30px;
  // width: 50%;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  margin-right: 4vw;
}

.navbar-submenu-container:last-child {
  margin-right: 0;
}

.submenu-title {
  letter-spacing: 1px;
  font-weight: bold;
}

.each-item {
  margin-bottom: 5px;
  color: #0E0000;
  // padding: 15px 0;
  // font-size: 14px;
    background: white;
  &:hover {
    color: black;
    text-decoration: none;
    @include for-phone-only {
      background: #f7f7f7;
    }
  }
  @include for-medium-devices-down {
    text-align: center;
    padding: 15px !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 0;
  }
}

.basket-icon-container {
  position: relative;
  display: block;
  p {
    color: black !important;
  }
  img {
    margin-bottom: 1px;
  }
}

.basket-item-count {
  height: 15px;
  margin: 0;
  position: absolute;
  right: 0;
  left: 0;
  @include absCenter;
  font-size: 8px;
}

.basket-mobile {
  bottom: 3px;
}

.basket-web {
  bottom: 11px;
}

.mobile-nav-links-container {
  display: flex;
  @include for-small-devices-up {
    display: none;
  }
}

.mobile-nav-links {
  flex-direction: row !important;
}

.navbar-toggler {
  border: none;
  &:focus {
    outline: none;
  }
  @include for-medium-devices-down {
    margin-right: 70px;
  }
  @include for-small-devices-down {
    margin-right: 0px;
  }
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mobile-hidden {
  @include for-phone-only {
    display: none;
  }
}
.medium-hidden {
  @include for-medium-devices-down {
    display: none;
  }
}
.small-hidden {
  @include for-small-devices-down {
    display: none;
  }
}

.navbar-submenu-underlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.mobile-dropdown-options {
  font-weight: 900;
  color: black !important;
  @include for-large-devices-up {
    display: none;
  }
}

.mobile-dropdown-options-brands {
  display: none;
  font-weight: 900;
  color: black !important;
  position: absolute;
  top: 100px;
  transition: all 0.3s ease;
  z-index: 100;
  width: 100vw;
  background: white;
  left: 100%;
  @include for-small-devices-up {
    display: none;
  }
}

.mobile-dropdown-options-influencers {
  display: none;
  font-weight: 900;
  color: black !important;
  position: absolute;
  top: 100px;
  transition: all 0.3s ease;
  z-index: 100;
  width: 100vw;
  background: white;
  left: 100%;
  @include for-small-devices-up {
    display: none;
  }
}

.each-item-dropdown {
  font-family: $title-font;
  color: black;
  font-weight: 900;
}

.navbar-collapse {
  background: white;
}

.back-to-menu {
  height: 45px;
  text-align: center;
  background: black;
  color: white;
  cursor: pointer;
  @include absCenter;
  position: relative;
}

.dropdown-back-container {
  height: 100%;
  width: 40px;
  position: absolute;
  left: 0;
  @include absCenter;
}

.dropdown-forward-container {
  height: 100%;
  width: 40px;
  position: absolute;
  right: 0;
  @include absCenter;
}

.navbar-logo {
  h4 {
    font-size: 22px !important
  }
  @include for-phone-only {
    @include absCenter;
    flex: 1;
  }
}

.dropdown-arrow {
  width: 15px !important;
}

.main-nav-dropdown {
  position: sticky;
  top: 60px;
  z-index: 100;
  width: 100vw;
  right: 0;
  transition: all 0.3s ease;
}

.show-underlay {
  display: block;
}

.dropdown-menu {
  padding: 0;
  margin-top: 0;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 2px;
  right: 15px;
}

.dropdown-toggle {
  cursor: pointer;
}

.web-dropdown {
  list-style: none;
  padding: 0;
  border-bottom: none;
  border: 3px solid #000;
  a {
    @include absCenter;
    color: black;
    padding: 12px;
    &:hover {
      text-decoration: none;
      background: black;
      color: white
    }
  }
}

.navbar-hover-container {
  position: fixed;
  right: 15px;
  top: -620px;
  z-index: 99;
  background: white;
  width: 300px;
  border: 3px solid #000;
  padding: 10px 10px 0 10px;
  transition: all 1s ease;
  transition-delay: .25s;
  @include for-phone-only {
    display: none;
  }
}

.navbar-hover-container-top {
  top: 60px !important;
}

.navbar-basket-button {
  padding: 6px 10px !important;
  margin: 10px 0 !important;
}

.navbar-basket-title {
  position: relative;
  h6 {
    margin: 5px 0;
  }
  img {
    position: absolute;
    right: 0;
    height: 20px;
    top: calc(50% - 10px);
  }
}

.subtotal-container {
  display: flex;
  align-items: center;
  padding: 10px 10px 0 10px;
  p {
    margin: 0;
    flex: 1;
  }
}

.basket-items-card {
  display: flex;
  width: 100%;
}

.basket-items-card-image {
  position: relative;
  width: 40%;
  img {
    width: 100%;
  }
}

.basket-items-card-info {
  width: 60%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.navbar-basket-items-container {
  max-height: 500px;
  overflow: scroll;
}

.navbar-basket-items-container::-webkit-scrollbar {
  width: 0;
}

.each-nav-basket-item {
  position: relative;
}

.nav-basket-trash {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.nav-basket-close {
  cursor: pointer;
}

.basket-icon-container {
  cursor: pointer;
}

.item-added {
  position: absolute;
  z-index: 10;
  background: #FFF;
  width: 100%;
  padding: 0 5px 5px;
  align-items: center;
  display: none;
  p {
    color: #000;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 900;
  }
  i {
    font-size: 30px;
    color: #000;
    margin-right: 5px;
  }
}

.item-added-show {
  display: flex !important;
}

.navbar-search-container {
  position: absolute;
  right: 7px;
  top: 9px; // ALIGNS CORRECTLY ON HEROKU BUT NOT ON LOCALHOST
  // top: -40px;
  z-index: 99;
  background: $background;
  transition: all .5s ease;
  transition-delay: .25s;
  // width: 312px;
  .form-group {
    margin: 0;
  }
}

.navbar-search-input {
  background: $background;
  border: none;
  border-bottom: 1px solid transparent;
  height: 25px;
  border-radius: 0;
  width: 0;
  padding-left: 5px;
  padding-right: 25px;
  background: asset_url("navbar-search.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  transition: all .2s ease;
  transition-delay: .2s;
  cursor: pointer;
  &:focus {
    box-shadow: none;
    border-bottom: 1px solid #000;
    color: #000;
    outline: none;
    cursor: inherit;
    width: 312px;
  }
}

.nav-no-bg {
  background: none;
}

#navbar-search-close {
  position: relative;
  border-bottom: 1px solid transparent;
  background: $background;
  right: -1px;
  top: 1px;
  cursor: pointer;
  transition: all .2s ease;
}

.navbar-search-input::placeholder {
  color: $text;
  font-size: 14px;
}

.search-form-button {
  border: none;
  height: 38px;
  background-color: black;
  color: $light-gray;
  border-radius: 0;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 2px;
  img {
    height: 30px;
    padding-right: 3px;
  }
  &:focus {
    outline: none;
  }
}

#suggestions-box {
  border: 1px solid #000;
  border-top: none;
  max-height: 500px;
  overflow: scroll;
}

.autocomplete_suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  &:hover {
    background: rgba(0,0,0,0.05);
  }
}

.autocomplete-image {
  height: 80px !important;
  width: auto !important;
}

@keyframes basket-bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-10px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.hamburger {
  @include absCenterColumn;
}

.hamburger-stick {
  width: 25px;
  height: 4px;
  background: #000;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ham-one {
  margin-bottom: 4px;
}

.ham-three {
  margin-top: 4px;
}

.hamburger-cross {
  .ham-one {
    transform: rotate(45deg);
    margin-bottom: -8px
  }

  .ham-two {
    position: absolute;
    width: 0;
    opacity: 0;
  }

  .ham-three {
    transform: rotate(-45deg);
  }
}

.follow-dropdown {
  position: relative;
  right: 170px !important;
  a {
    height: 45px;
    padding: 0 20px;
    justify-content: space-between;
  }
}

.follow-dropdown-toggle:after {
  border: none !important;
}

.follow-icon {
  width: 30px;
  @include absCenter;
  i {
    font-size: 25px;
    font-weight: normal;
  }
}

