<div class="brands-wrapper">
  <div class="container min-h-inner">
    <h2 class="insider-info-title text-center mb-5">Shop by Brand</h2>
    <div class="row">
      <% @brands.each do |brand| %>
        <div class="col-sm-6 col-md-4 col-xs-12 ">
          <%= link_to brand_path(brand), class: "brand-card-link" do %>
            <div class="brand-card" style="background-image: url(<%= brand.logo.attached? ? url_for(brand.logo) : asset_path('brand-default.jpg') %>)">
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

