<%= content_for :meta_title do %>
  Shop by Brand
<% end %>
<div class="brands-wrapper">
  <div class="min-h-inner">
    <h2 class="insider-info-title text-center mb-5">Shop by Brand</h2>
    <div class="row" style="margin: 0; width: 100%;">
      <% @brands.each_with_index do |brand, index| %>
        <div class="col-xs-12 col-md-4" style="padding: 0;">
          <%= link_to brand_path(brand), class: "insider-home-card-link" do %>
            <div class="insider-home-articles-card  brand-card" style="background-image: url(<%= brand.logo.attached? ? url_for(brand.logo) : asset_path('brand-default.jpg') %>);">
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


