<!-- <h2 class="insider-info-title text-center"><%#= @brand.name %></h2> -->
<div class="brand-header-section-container">
  <div class="brand-header-section brand-description">
    <% if @brand.description %>
      <p class="didot"><%= @brand.description %></p>
    <% end %>
  </div>
  <div class="brand-header-section brand-logo">
    <% if @brand.logo.attached? %>
      <%= image_tag @brand.logo %>
    <% end %>
  </div>
  <div class="brand-header-section brand-photo">
    <% if @brand.photo.attached? %>
      <%= image_tag @brand.photo %>
    <% end %>
  </div>
</div>
<div class="brands-results">
  <%= render 'shared/card_results', products: @products, form_url: brand_path(@brand), sort_method: @sort_method %>
</div>
