<div class="partial-banner" style="background-image: url(<%= Banner.any? ? url_for(Banner.first.photo) : 'https://images.pexels.com/photos/1377034/pexels-photo-1377034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260' %>;)">
    <!-- IMAGE HERE -->
</div>
<% if policy([:admin, Banner.new]).change_banner? %>
  <%= link_to 'Change Banner', admin_change_banner_path %>
<% end %>

<%= render 'shared/card_results', products: @products, form_url: products_path, sort_method: @sort_method %>
