<div class="partial-banner" style="background-image: url('https://images.pexels.com/photos/1377034/pexels-photo-1377034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
    <!-- IMAGE HERE -->
</div>

<%= render 'shared/card_results', products: Product.all, form_url: products_path %>
