results = document.querySelector('#card-target')
while (results.firstChild) {
  results.firstChild.remove()
}
results.insertAdjacentHTML('beforeend', "<%= j render 'shared/filter_cards', products: @products %>")
$('.show-page-entries').empty()
$('.show-page-entries').append(`<p class="boldest muli no-bottom-margin left-margin small-text grey"><%= page_entries_info @products %></p>`)
