<div class="partial-banner" style="background-image: url('https://images.pexels.com/photos/1377034/pexels-photo-1377034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
    <!-- IMAGE HERE -->
</div>

<%= render 'shared/card_results', products: @products, form_url: products_path, sort_method: @sort_method %>

<!-- <script>
  filter = document.querySelector('.mobile-filters')
  partial = document.querySelector('.partial-filters')
  filter.addEventListener('click', function() {
    partial.classList.toggle('filters-show')
  })
</script>
 -->
