<div class="partial-banner" style="background-image: url(<%= Banner.any? ? url_for(Banner.first.photo) : 'https://images.pexels.com/photos/1377034/pexels-photo-1377034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260' %>;)">
    <!-- IMAGE HERE -->
</div>
<%= render 'shared/card_results', products: @products, form_url: products_path, sort_method: @sort_method %>
<% if current_user&.admin %>
  <div class="admin-options">
    <div class="container">
      <hr>
      <h6 class="boldest">Admin options</h6>
      <%= link_to 'CHANGE BANNER', admin_change_banner_path, class: 'secondary-button' %>
      <hr>
    </div>
  </div>
<% end %>

<!-- <script>
  filter = document.querySelector('.mobile-filters')
  partial = document.querySelector('.partial-filters')
  filter.addEventListener('click', function() {
    partial.classList.toggle('filters-show')
  })
</script>
 -->
