.account-details-tabs {
  width: 250px;
  border-right: 1px solid #DDCCB5;
  @include for-medium-devices-down {
    width: 220px;
  }
  @include for-small-devices-down {
    width: unset;
    border: none;
  }
}

.all-tabs {
  cursor: pointer;
  letter-spacing: 1px;
}

.acc-arrow {
  opacity: 0;
}

.acc-arrow-show {
  opacity: 1 !important;
}

.account-active-tab {
  color: black !important;
}
//
.account-content-one, .account-content-three, .account-content-two-add-address {
  min-height: 300px;
  width: 100%;
  // background: red;
  display: none;
  justify-content: center;
  align-items: center;
  .form-group {
    display: flex;
    margin: 0;
  }
  @include for-phone-only {
    min-height: auto;
    padding: 50px 10px;
  }
}

.account-content-two {
  min-height: 300px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    min-height: auto;
    padding: 50px 10px;
  }
}

.account-content-two-add-address {
  padding: 20px;
  @include for-large-devices-down {
    flex-direction: column;
  }
}

.account-content-one {
  .form-group {
    @include for-phone-only {
      width: 100%;
    }
  }
}

.address-form-container {
  max-width: 400px;
  .form_control {
    border: 1px solid #F0F0F0;
    background: #FCFCFC
  }
  @include for-phone-only {
    padding: 0;
    fieldset {
      @include for-phone-only {
        width: auto !important;
      }
    }
    .form-group {
      width: 100%;
    }
  }
}

.account-details-check {
  @include for-small-devices-up {
    justify-content: flex-end;
  }
}

.account-content-show {
  display: block !important;
  padding: 48px;
  overflow: scroll;
  @include for-medium-devices-down {
    padding: 48px 28px;
  }
  @include for-small-devices-down {
    padding: 24px;
  }
}

.personal-details-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  p {
    width: 120px;
    @include for-phone-only {
      width: auto;
      margin-left: 4px !important;
    }
  }
  input, textarea, select {
    width: 288px !important;
    margin-left: 4px;
    @include for-phone-only {
      width: 100% !important;
    }
  }
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start !important;
    .form-group {
      width: 100%;
    }
  }
}

.personal-details-input-wide {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  p {
    width: 120px;
    @include for-phone-only {
      width: auto;
      margin-left: 4px !important;
    }
  }
  input, textarea, select {
    width: 100% !important;
    margin-left: 4px;
    @include for-phone-only {
      width: 100% !important;
    }
  }
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start !important;
    .form-group {
      width: 100%;
    }
  }
  // .form-group {
  //   width: 82%;
  // }
  .lookbook_product_ids, .tutorial_product_ids, .new_in_products, .tutorial_user, .product_product_ids {
    margin-left: 4px !important;
  }
}

.showroom_product_product {
  margin-left: 4px !important;
}

.new_lookbook {
  width: 474px;
  @include for-phone-only {
    width: 100%;
    padding-right: 9px;
  }
}
.edit_lookbook {
  width: 474px;
  @include for-phone-only {
    width: 100%;
    padding-right: 9px;
  }
}
.new_tutorial {
  width: 474px;
  @include for-phone-only {
    width: 100%;
    padding-right: 9px;
  }
}
.edit_tutorial {
  width: 474px;
  @include for-phone-only {
    width: 100%;
    padding-right: 9px;
  }
}

#customerReviewsModal {
  padding: 0 36px;
  @include for-phone-only {
    padding: 0;
  }
}

.customer-review-input {
  margin-bottom: 5px;
  input, textarea, select {
    width: 100% !important;
    background-color: $background;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    box-shadow: none;
    letter-spacing: 1px;
    &:focus {
      background-color: $background;
      box-shadow: none;
    }
  }
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

.account-password-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width:100%;
  p {
    width: 130px;
    @include for-phone-only {
      width: auto;
      margin-left: 4px !important;
    }
  }
  input {
    width: 288px !important;
    margin-left: 4px;
    @include for-phone-only {
      width: 100% !important;
    }
  }
  .form-group {
    @include for-phone-only {
      width: 100%;
    }
  }
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

.personal-details-button {
  margin: 15px 0 0 auto;
  padding: 3px 25px;
  height: 40px !important;
}

.dob-container {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  // min-width: 200px;
  // height: 35px;
  background-image: asset_url('dropdown-down-small.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #F0F0F0;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: black;
  font-family: 'Mukta Mahee', sans-serif;
  @include for-phone-only {
    height: 30px;
    margin: 3px 0;
  }
}

#user_dob_3i {
  width: 65px !important;
  margin: 0 !important;
  @include for-phone-only {
    width: inherit !important;
  }
}

#user_dob_2i {
  width: 125px !important;
  margin: 0 0 0 4px !important;
  @include for-phone-only {
    width: inherit !important;
  }
}

#user_dob_1i {
  width: 90px !important;
  margin: 0 0 0 4px !important;
  @include for-phone-only {
    width: inherit !important;
  }
}

.form-check-input.is-valid ~ .form-check-label {
  color: inherit !important;
}

.address-card {
  padding: 8px 30px;
  margin-bottom: 10px;
  width: 100%;
  @include for-phone-only {
    padding: 8px 16px;
  }
}

.address-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-button {
  width: fit-content;
  cursor: pointer;
  padding: 3px 25px;
  height: 40px !important;
  margin: 15px 0 0 auto;
}

.edit_user {
  @include for-phone-only {
    width: 100%;
    .form_group {
      width: 100% !important;
    }
  }
}

.user_dob {
  div {
    @include for-phone-only {
      width: 100%;
    }
  }
}

.account-details-address-card {
  @include for-phone-only {
    padding: 0;
  }
}

#acc-add-delivery, #acc-add-billing {
  transition: all 0.3s ease;
}

