.dash-content-container {
  .form-group {
    margin: 0;
  }
}

.dash-upload-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 366px;
  .form-group {
    display: flex;
    margin: 0;
  }
  select, textarea {
    width: 288px !important;
    border: 1px solid #F0F0F0;
    background: #FCFCFC;
    margin: 0 0 0 4px;
  }
  option {
    font-size: 16px;
    font-family: 'Muli', sans-serif;
  }
}
