.dashboard-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
  }
  hr {
    width: 32px;
    border-color: #000000;
    // border-width: 2px;
  }
}

.upload-icon {
  position: absolute;
  left: 12px;
  width: 24px;
}

.dash-share-options-container {
  padding: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include for-medium-devices-down {
    padding: 32px 16px;
  }
}

.dash-share-button {
  padding: 3px 25px;
  max-width: 160px;
  height: 40px !important;
  margin: auto;
  @include for-medium-devices-down {
    max-width: 150px;
  }
}

.dash-share-options {
  border-radius: 2px;
  background: #F5F5F5;
  height: 180px;
  width: 180px;
  margin: auto;
  position: relative;
  @include absCenter;

  img {
    width: 48%;
  }
  @include for-medium-devices-down {
    height: 160px;
    width: 160px;
  }
  @include for-phone-only {
    height: 200px;
    width: 200px;
  }
}

.dash-share-option-text {
  position: absolute;
  bottom: 16px;
  @include for-medium-devices-down {
    bottom: 12px;
  }
}

.dash-new-lookbook {
  max-width: 400px;
  margin: auto;
}

.dash-new-lookbook-img {
  width: 70px;
}

.dash-new-lookbook-container {
  @include for-small-devices-down {
    padding: 24px;
  }
}

.dashboard-wrapper {
  background: $background;
  min-height: calc(100vh - 96px);
  padding: 50px;
  @include for-medium-devices-down {
    padding: 50px 10px;
    min-height: unset;
  }
  @include for-small-devices-down {
    padding: 0;
  }
}
.link-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kaftan";
  h5 {
    margin-bottom: 0;
  }
  @include for-small-devices-down {
    flex-direction: column;
  }
}
.min-200-w {
  @include for-small-devices-down {
    min-width: 150px;
  }
}

.dashboard-container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  @include for-small-devices-down {
  }
}

.dashboard-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  @include for-small-devices-down {
    flex-direction: column;
  }
}

.dash-option {
  width: max-content;
  padding: 4px 0;
  letter-spacing: 1px;
  border-bottom: 1px dashed transparent;
}

.dash-option-active {
  border-bottom: 1px dashed #000000;
}

.dash-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 519px;
  @include for-small-devices-down {
    display: none;
  }
}

.dash-links-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 30px auto 10px auto;
  @include for-medium-devices-down {
    width: 120px;
    height: 120px;
  }
}

.dash-links-image {
  width: 25px;
  margin-right: 20px;
}

.dash-menu-container {
  width: 250px;
  height: max-content;
  border-bottom: none;
  @include for-medium-devices-down {
    width: 200px;
  }
  @include for-small-devices-down {
    width: 100%;
    margin: 0;
  }
}

.mlb-title {
  padding: 30px 20px;
}

.mlb-title-admin-dash {
  padding: 0 20px 30px 20px;
}

.dash-content-container {
  position: relative;
  flex: 1;
  height: 100%;
  .contact-form-input {
    max-width: 400px;
  }
  .was-validated .form-control:valid, .form-control.is-valid {
    border-color: #000000;
  }
}

.dash-content {
  background: $background-light;
  height: 500px;
  overflow: scroll;
  display: flex;
  @include for-small-devices-down {
    display: block;
  }
  @include for-small-devices-down {
    margin: 10px;
    height: unset;
  }
}

.each-dash-home-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    margin-bottom: 20px;
    @include for-medium-devices-down {
      width: 70px;
    }
  }
  h5 {
    font-weight: 900;
    margin: 0;
  }
}

.dash-home-option-links {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.dash-home-options-line-break {
  border-left: 1px solid rgba(0,0,0,0.1);
  @include for-medium-devices-down {
    border-left: none;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 25px 0;
  }
}

.dash-mobile-title {
  @include for-phone-only {
    margin: 0;
    padding-bottom: 0;
  }
}

.dash-mobile-name {
  @include for-small-devices-up {
    display: none;
  }
}

.dash-links-mobile {
  width: 100%;
  overflow: scroll;
  @include for-medium-devices-up {
    display: none;
  }
}

.each-dash-link-mobile {
  margin: 4px 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  position: relative;
  // font-weight: 900;
  p {
    width: max-content;
  }
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.dash-links-mobile-image {
  width: 25px;
  margin-top: 5px;
}

.admin-notification {
  background: #F40000;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  color: white;
  @include absCenter;
  position: absolute;
  z-index: 1000;
  top: -2px;
  right: -2px;
  p {
    font-size: 9px;
    font-weight: bold;
    margin: 0;
  }
}

.admin-mobile-notification {
  background: #F40000;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  color: white;
  @include absCenter;
  position: absolute;
  z-index: 1000;
  p {
    font-size: 9px;
    font-weight: bold;
    margin: 0;
  }
}

.lookbook-red-dot {
  top: 20px;
  right: 10px;
}

.tutorial-red-dot {
  top: 17px;
  right: 7px;
}

