.dashboard-wrapper {
  background: #F5F5F5;
  min-height: calc(100vh - 358px);
  padding: 50px;
  @include for-small-devices-down {
    padding: 0;
  }
}

.dashboard-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  @include for-small-devices-down {
    flex-direction: column;
  }
}

.dash-links {
  display: flex;
  flex-direction: column;
  @include for-small-devices-down {
    display: none;
  }
}

.dash-links-avatar {
  width: 60%;
  border-radius: 50%;
  margin: 30px auto 10px auto;
}

.each-dash-link {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  padding: 10px 30px;
  color: black;
  font-weight: 900;
  background: #FBFBFB;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;
    color: black;
    background: #F1F1F1;
  }
}

.dash-links-image {
  width: 25px;
  margin-right: 20px;
}

.dash-menu-container {
  width: 250px;
  height: max-content;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: none;
  background: white;
  margin: 50px 10px 50px 0;
  position: sticky;
  top: 70px;
  @include for-small-devices-down {
    top: 60px;
    width: 100%;
    z-index: 3;
    background: #FBFBFB;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0;
  }
}

.mlb-title {
  padding: 30px 20px;
}

.each-dash-link-title {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  padding: 10px 30px;
  color: black;
  font-weight: 900;
  background: white;
  text-align: center;
  font-size: 18px;
}

.dash-content-container {
  position: relative;
  flex: 1;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  margin: 50px 0;
  @include for-small-devices-down {
    margin: 10px;
  }
}

.dash-home-options {
  display: flex;
  justify-content: space-evenly;
  background: #F5F5F5;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 100px 30px;
  padding: 40px 0;
  @include for-medium-devices-down {
    flex-direction: column;
  }
  @include for-phone-only {
    margin: 10px;
  }
}

.each-dash-home-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100px;
    margin-bottom: 20px;
    @include for-medium-devices-down {
      width: 70px;
    }
  }
  h5 {
    font-weight: 900;
    margin: 0;
  }
}

.dash-home-option-links {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.dash-home-options-line-break {
  border-left: 1px solid rgba(0,0,0,0.1);
  @include for-medium-devices-down {
    border-left: none;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 25px 0;
  }
}

.dash-mobile-title {
  @include for-phone-only {
    margin: 0;
    padding-bottom: 0;
  }
}

.dash-mobile-name {
  @include for-small-devices-up {
    display: none;
  }
}

.dash-links-mobile {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: scroll;
  @include for-medium-devices-up {
    display: none;
  }
}

.each-dash-link-mobile {
  padding: 10px;
  color: black;
  font-weight: 900;
  background: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    width: max-content;
  }
  &:hover {
    text-decoration: none;
    color: black;
    background: #F1F1F1;
  }
}

.dash-links-mobile-image {
  width: 25px;
}
