.my-products-image {
  position: relative;
  margin-bottom: 5px;
  img {
    width: 100%;
  }
}

.my-products-button {
  color: black;
  background: #E3E3E3;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 900;
  font-family: 'Mukta Mahee', sans-serif;
  @include absCenter;
  width: fit-content;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    background: #D5D5D5;
    color: inherit;

  }
}

.my-products-purchase {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.my-products-details p {
  margin: 0;
}

.row-padding {
  padding: 30px;
  @include for-small-devices-down {
    padding: 32px 16px;
  }
  @include for-phone-only {
    padding: 16px 0 0;
  }
}
