.dash-order-container {
  padding: 30px 16px;
  @include for-medium-devices-down {
    padding: 16px 0;
  }
}

.order-titles {
  display: flex;
  @include for-medium-devices-down {
    flex-direction: column;
  }
}

.order-number, .order-date {
  width: 100px;
  min-width: 100px;
  margin-right: 32px;
  @include for-medium-devices-down {
    width: unset;
    min-width: unset;
    margin-right: 0;
  }
}

.order-item {
  flex-grow: 1;
  margin-right: 32px;
}

.order-total {
  display: flex;
  align-items: center;
  @include for-medium-devices-down {
    flex-direction: column;
    align-items: flex-start;
  }
}

// OLD ORDERS CSS

.my-orders-container {
  width: 100%;
  @include absCenterColumn;
  margin: 30px 0;
  @include for-phone-only {
    padding: 0 5px;
  }
}

.each-order-card {
  width: 80%;
  margin: auto;
  @include for-phone-only {
    width: 100%;
  }
}

.each-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  p {
    margin: 0;
  }
  @include for-phone-only {
    padding: 16px 0;
  }
}

.order-status, .order-price {
  height: 100%;
  flex: 1;
  p {
    text-align: right;
  }
}

.my-order-details {
  display: flex;
  align-items: center;
  flex: 3;
}


.orders-button {
  width: fit-content;
  margin: 20px auto;
  height: 40px !important;
  padding: 3px 25px;
  letter-spacing: 1px;
}

// .order-show-info {
//   display: flex;
//   width: 80%;
//   padding: 10px 30px;
//   @include for-large-devices-down {
//     width: 90%;
//   }
//   @include for-medium-devices-down {
//     width: 95%;
//   }
//   @include for-phone-only {
//     display: block;
//     width: 100%;
//     padding: 10px;
//   }
// }

.order-show-each-order {
  display: block !important;
  border: none !important;
  padding: 10px !important;
  p {
    text-align: left !important;
    margin-bottom: 3px;
  }
}

.order-show-product-card {
  transition: box-shadow 0.3s ease;
  width: 100% !important;
}

.order-show-card-link:hover {
  .order-show-product-card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.my-orders-title {
  width: 80%;
  padding: 10px 30px;
  @include for-phone-only {
    text-align: center;
  }
}

.my-orders-cards:hover {
  .each-order-container {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
}

