.my-orders-container {
  width: 100%;
  @include absCenterColumn;
  margin: 30px 0;
  @include for-phone-only {
    padding: 0 5px;
  }
}

.each-order-card {
  width: 80%;
  margin: auto;
  @include for-phone-only {
    width: 100%;
  }
}

.each-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 20px 0;
  p {
    margin: 0;
  }
}

.order-status, .order-price {
  height: 100%;
  flex: 1;
  p {
    text-align: right;
  }
}

.my-order-details {
  display: flex;
  align-items: center;
  flex: 3;
}

.order-details-text {
}

.order-image {
  height: 90px;
  margin-right: 10px;
}

.order-show-image {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

.orders-button {
  width: fit-content;
  margin: 20px auto;
  height: 40px !important;
  padding: 3px 25px;
  letter-spacing: 1px;
}

.order-show-info {
  display: flex;
  width: 80%;
  padding: 10px 30px;
  @include for-phone-only {
    width: 100%;
    padding: 10px;
  }
}

.order-show-info-left, .order-show-info-left {
  width: 50%;
}

.order-show-each-order {
  display: block !important;
  border: none !important;
  padding: 10px !important;
  p {
    text-align: left !important;
    margin-bottom: 3px;
  }
}

.order-show-product-card {
  transition: box-shadow 0.3s ease;
  width: 100% !important;
}

.order-show-card-link:hover {
  .order-show-product-card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.my-orders-title {
  width: 80%;
  padding: 10px 30px;
  @include for-phone-only {
    text-align: center;
  }
}

