.refer-friend-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  width: 100%;
  @include for-small-devices-down {
    padding: 24px;
  }
}
.refer-friend-section {
  padding: 40px 0;
  p {
    margin: 0;
  }
}

.referral-code-section {
  width: 96%;
  padding: 40px 0;
  border: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include for-medium-devices-down {
    padding: 40px;
  }
  @include for-small-devices-down {
    margin: 0 10px;
    padding: 40px 20px;
    flex-direction: column;
  }
}

.refer-share-section {
  h6 {
    display: flex;
    align-items: center;
  }
  padding: 40px 0;
  i {
    font-size: 25px;
    width: 30px;
  }
}
