.influencer-wrapper {
  @include for-small-devices-down {
    margin-top: 24px;
    padding: 0;
  }
}

.influencer-tabs {
  justify-content: center;
  @include for-phone-only {
    justify-content: space-around;
  }
  .nav-link {
    border-radius: 0;
    letter-spacing: 2px;
    @include for-phone-only {
      letter-spacing: 1px;
      padding: 0.5rem 0.3rem;
    }
  }
  .nav-link.active {
    color: #19191C;
    background: $background;
    border-bottom: 1px dashed $text;
  }
}

.influencer-card-info-container {
  background: $background-light;
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 604px;
  @include for-medium-devices-down {
    // justify-content: flex-end;
    padding-left: 220px;
  }
  @include for-small-devices-down {
    padding-left: 0;
    width: 100%;
    min-width: auto;
    height: unset;
  }
}

.influencer-card-info {
  width: 382px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    @include for-small-devices-down {
      font-size: 20px;
    }
  }
  @include for-medium-devices-down {
    width: 300px;
  }
  @include for-small-devices-down {
    width: 100%;
    padding: 48px 24px 68px;
  }
}

.influencer-card-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 300px;
  margin-bottom: 80px;
  @include for-small-devices-down {
    flex-direction: column-reverse;
    height: unset;
    margin-bottom: 10%;
  }
}

.influencer-card-avatar {
  height: 70%;
  position: absolute;
  left: 0;
  img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    @include for-small-devices-down {
      width: 100%;
      height: unset;
    }
  }
  @include for-small-devices-down {
    position: relative;
    bottom: 52px;
    width: 86%;
  }
}
