.wishlist-index-heart-icon {
  position: absolute;
  font-size: 22px;
  left: 10px;
  top: calc(50% - 11px);
}

.start-shopping-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wishlist-product-cards-container {
  @include for-small-devices-down {
    padding: 16px 0;
  }
}
