.analytics-top-section {
   display: flex;
}

.analytics-top-items {
  padding: 10px;
}

.analytics-content {
  padding: 0 10px;
}

.analytics-content-driven-sales {
  padding: 0 10px 40px 10px;
}

.analytics-card {
  margin: 5px 0;
  img {
    height: 275px;
    width: 100%;
    object-fit: cover;
    border: 3px solid #000;
  }
}

.analytics-content-section {
  height: 160px;
  border: 3px solid #000;
  margin: 10px 0;
  padding: 30px 10px;
  @include absCenterColumn;
}

.analytics-content-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h6 {
    font-size: 0.9rem;
  }
}

.conditional-bottom-margin {
  @include for-medium-devices-up {
    margin-bottom: 1.5rem;
  }
}

.analytics-top-items {
  margin: 10px 0;
  padding: 30px 10px;
  @include absCenterColumn;
}

.analytics-list-item {
  display: flex;
  margin: 3px;
}

.analytics-list-item-number {
  height: 35px;
  width: 55px;
  background: #000;
  color: #FFF;
  @include absCenter;
}

.analytics-list-item-text {
  border: 3px solid #000;
  width: 200px;
  display: flex;
  align-items: center;
}

.analytics-content-cards {
  display: flex;
}

.analytics-number {
  height: 30px;
  width: 40%;
  background: #000;
  color: #FFF;
  @include absCenter;
}

.analytics-boxes {
  margin: 0 10%;
  // margin: 0 100px;
  // @include for-large-devices-down {
  //   margin: 0 80px;
  // }
  // @include for-large-devices-down {
  //   margin: 0 60px;
  // }
}
