.products-index-container {
  max-width: 1240px;
  margin: auto auto 50px auto;
}

.products-index-filters-container {
  max-width: 1240px;
  margin: 20px auto auto auto;
}

.rating-container {
  display: flex;
  align-items: center;
  i {
    @include for-phone-only {
      font-size: 12px;
    }
  }
}

.rating-stars {
  display: flex;
  align-items: flex-end;
  margin-right: 5px;
}

.all-reviews {
  margin: 0 0 0 3px !important;
  font-size: 12px;
  @include for-phone-only {
    font-size: 10px !important;
  }
}
.my-products-price {
  font-size: 12px;
}

.out-of-stock-overlay {
  position: absolute;
  background: rgba(0,0,0,0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.out-of-stock-overlay-message {
  margin-top: 10px;
  color: #FFF;
  opacity: 0.5;
}
