.products-index-container {
  max-width: 1240px;
  margin: auto auto 50px auto;
}

.products-index-filters-container {
  max-width: 1240px;
  margin: 20px auto auto auto;
  .product_sort_method {
    margin: 0;
  }
}

.rating-container {
  display: flex;
  align-items: center;
  i {
    @include for-phone-only {
      font-size: 12px;
    }
  }
}

.rating-stars {
  display: flex;
  align-items: flex-end;
  margin-right: 5px;
}

.all-reviews {
  margin: 0 0 0 3px !important;
  font-size: 12px;
  @include for-phone-only {
    font-size: 10px !important;
    margin: 3px 0 0 3px !important;
  }
}
.my-products-price {
  font-size: 12px;
}

.out-of-stock-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.out-of-stock-overlay-message {
  margin-top: 10px;
  color: #fff;
  opacity: 0.5;
}

.button-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: opacity 0.5s ease;
}

// PAGINATION

.pagination {
  height: 30px;
  font-family: 'Mukta Mahee', sans-serif;
  @include absCenter;
}

.page {
  @include absCenter;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  a {
    font-family: 'Mukta Mahee', sans-serif;
    color: #000;
    &:hover {
      text-decoration: none;
      font-weight: bolder;
    }
  }
}

.current {
  background-color: #000;
  color: white;
  font-size: 14px;
  // font-weight: bolder;
}

.next,
.prev,
.last,
.first {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  a {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0 5px;
    font-family: 'Mukta Mahee', sans-serif;
    color: #000;
    // font-weight: bolder;
  }
}

.pag-icons {
  height: 30px;
}

.pag-opacity {
  opacity: 0;
}

// PAGINATION
