.sessions-new-container {
  min-height: calc(100vh - 96px);
  height: calc(100vh - 96px);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include for-phone-only {
    padding: 0 0 24px;
  }
}

.devise-title {
  font-size: 44px;
  @include for-phone-only {
    font-size: 32px;
  }
}

.log-in-container {
  width: 450px;
  height: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form-check-label {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 14px;
  }
  a {
    // text-decoration: underline;
    // &:hover {
    //   text-decoration: none;
    // }
    @include for-phone-only {
      width: fit-content;
    }
  }
  input[type="submit"] {
    font-size: 14px;
    @include for-phone-only {
      font-size: 12px;
    }
  }
  @include for-medium-devices-down {
    // margin-bottom: 15px;
  }
  @include for-phone-only {
    width: 100%;
    padding: 0 24px;

  }
}

.remember-me-container {
  overflow: hidden;
  transition: all 0.3s ease;
  .form-check {
    padding-left: 2rem;
  }
  input[type="checkbox"] {
    opacity: 0;
  }
  label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid;
  }
  label::after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 14px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
  }
  label {
    position: relative;
  }
  label::before, label::after {
    position: absolute;
  }
  label::before {
    top: 1px;
    left: -30px;
  }
  label::after {
    left: -27px;
    top: 4px;
  }
  input[type="checkbox"] + label::after {
    content: none;
  }
  /*Unhide the checkmark on the checked state*/
  input[type="checkbox"]:checked + label::after {
      content: "";
  }
}
